@import "../../variables";

.login-container {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding: 0px;
  box-sizing: border-box;

  .wrapper {
    width: 100%;

    .login {
      .full-width-sm {
        width: 100%;
        text-align: center;
        padding-left: 20%;
        padding-right: 20%;

        @media (min-width: $screen-phone) {
          padding-left: 10%;
          padding-right: 10%;
        }

        form {
          fieldset {
            input {
              margin: 10px auto;
            }
          }
        }

        h3 {
          margin: 50px 50px;
        }

        .error {
          color: #dd0000;
          font-size: 10pt;
          padding: 20px;
          text-align: left;
        }
      }
    }
  }
}