<div class="login-container">
    <div class="wrapper clearfix">

        <div class="container login">

            <div class="full-width-sm">

                <div class="row">
                    <p>{{ 'login.title ' | translate }}</p>

                    <form name="login-form" action="">
                        <fieldset>
                            <input type="text" class="form-control" name="username"
                                placeHolder="{{ 'login.username.placeholder' | translate }}"
                                ng-model="$ctrl.user.username">
                            <input type="password" class="form-control" name="password"
                                placeHolder="{{ 'login.password.placeholder' | translate }}"
                                ng-model="$ctrl.user.password">

                            <div class="button-container">
                                <button type="button" ng-click="$ctrl.login()">
                                    <span>{{ 'login.button' | translate }}</span>
                                </button>
                            </div>
                        </fieldset>
                    </form>

                    <p ng-if="$ctrl.showError" class="error">{{ $ctrl.errorText }}</p>
                </div>
                <div ng-show="$ctrl.user._id > 0" class="row">
                    <h2>{{ $ctrl.user.name }}</h2>
                </div>
            </div>
        </div>
    </div>
</div>	

