<div ng-show="menu.showHeader" class="burger-menu" dropdown>
    <div dropdown-toggle class="dropdown-toggle">
        <icon-font icon-class="icon-burger" class="icon-burger menu" href="#" title="info"
            ng-class="{active: isOpen}" ng-click="toggleMenu()"></icon-font>
    </div>
    <div class="dropdown-menu" role="menu">
        <ul>
            <li ng-repeat="item in items" ng-click="select(item)"><span>{{ item.title | translate }}</span></li>
        </ul>
    </div>
</div>