<div class="post-container" ng-show="showInfo">
    <div ng-click="close()" class="btn-popup pull-right"></div>

    <div class="text">
        <h3>{{ post.title }}</h3>

        <div class="social-user">
            <div ng-if="post.email != null" class="row">
                <label for="email">Emailadres: </label>
                <input id="email" class="form-control" type="text" ng-model="post.email"/>
            </div>
            <div class="row">
                <div ng-if="post.message.picture" class="image-container"><img ng-src="{{ post.message.picture }}"/></div>
                <span ng-if="post.message.message" ng-class="{'image': post.message.picture}"> {{ post.message.message }} </span>
            </div>
            <textarea ng-if="post.message.description" class="form-control" ng-model="post.message.description"></textarea>
            <textarea ng-if="post.message.status" class="form-control" ng-model="post.message.status"></textarea>

            <div ng-if="post.user.name" class="row">
                <p ng-class="{'image': post.user.thumb}">{{ post.user.name }}</p>
                <div ng-if="post.user.thumb" class="image-container"><img ng-if="post.user.thumb" ng-src="{{ post.user.thumb }}"/></div>
            </div>
        </div>
    </div>

    <button type="button" class="pull-right" ng-click="sharePost()"><span>Delen</span></button>
</div>

