<footer class="primary">
    <div class="full-width-sm">
        <div class="row">
            <footer-navigate class="nav-container" ng-class="{'no-social': ($ctrl.menu.showSocial === false)}"
                menu="home"></footer-navigate>
        </div>
        <div class="row" ng-if="menu.showSocial">
            <social-share class="social-container" menu="$ctrl.menu"></social-share>
        </div>
    </div>
</footer>

    