<div class="nav">
    <div class="wrapper clearfix">
        <icon-font ng-show="$ctrl.showBackButton" icon-class="icon-navigate-left" class="pull-left menu"
            title="Terug" ng-click="$ctrl.back()"></icon-font>
        <icon-font ng-show="$ctrl.showAddButton" icon-class="icon-add" class="pull-right menu"
            title="Toevoegen" ng-click="$ctrl.add()"></icon-font>
        <icon-font ng-show="$ctrl.showSaveButton" icon-class="icon-save" class="pull-right menu"
            title="Opslaan" ng-click="$ctrl.save()"></icon-font>
    </div>
</div>	

