<form name="userForm" novalidate>
    <fieldset>
        <!-- name -->
        <div class="field-container">
            <icon-font icon-class="icon-name" class="icon-field"></icon-font>
            <input type="text" placeholder="{{'info.form.placeholder.name' | translate}}"
                ng-model="$ctrl.user.name" ng-change="$ctrl.updateValidation()"
                required/>
            <div class="required">*</div>
        </div>

        <!-- age -->
        <div class="field-container">
            <icon-font icon-class="icon-age" class="icon-field"></icon-font>
            <input type="text" placeholder="{{'info.form.placeholder.age' | translate}}"
                ng-model="$ctrl.user.age" ng-change="$ctrl.updateValidation()"
                min="0" max="99" ng-pattern="/^[0-9]{1,3}$/"
                required/>
            <div class="required">*</div>
        </div>

        <!-- gender -->
        <div class="field-container">
            <icon-font icon-class="icon-gender" class="icon-field"></icon-font>
            <button class="gender-button" type="button"
                ng-click="$ctrl.selectGender('male')"
                ng-class="{active: ($ctrl.user.gender === 'male')}">
                <span>{{'info.form.placeholder.gender.male' | translate}}</span>
            </button>
            <button class="gender-button female" type="button"
                ng-click="$ctrl.selectGender('female')"
                ng-class="{active: ($ctrl.user.gender === 'female')}">
                <span>{{'info.form.placeholder.gender.female' | translate}}</span>
            </button>
            <input ng-model="$ctrl.user.gender" class="ng-hide" required/>
            <div class="required">*</div>
        </div>

        <!-- city -->
        <div class="field-container">
            <icon-font icon-class="icon-location" class="icon-field"></icon-font>
            <input type="text" placeholder="{{'info.form.placeholder.city' | translate}}"
                ng-model="$ctrl.user.city" ng-change="$ctrl.updateValidation()"/>
        </div>

        <!-- code -->
        <div class="field-container">
            <icon-font icon-class="icon-code" class="icon-field"></icon-font>
            <input type="text" placeholder="{{'info.form.placeholder.code' | translate}}"
                ng-model="$ctrl.user.code" ng-change="$ctrl.updateValidation()"/>
        </div>
    </fieldset>
</form>