<div class="icon-menu">
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">

        <symbol id="icon-navigate-left" viewBox="0 0 512 512" ><path d="m256 0c-141 0-256 115-256 256c0 141 115 256 256 256c141 0 256-115 256-256c0-141-115-256-256-256z m0 472c-119 0-216-97-216-216c0-119 97-216 216-216c119 0 216 97 216 216c0 119-97 216-216 216z m30-328l-112 112l112 112l32-32l-80-80l80-80z"/></symbol>


        <!-- icon-navigate-right  -->

        <symbol id="icon-navigate-right" viewBox="0 0 512 512" ><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 400 400" style="enable-background:new 0 0 400 400;" xml:space="preserve">
<circle style="fill:none;stroke-width:18.983;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" cx="201.1" cy="200.1" r="189"/>
<polyline style="fill:none;stroke-width:18.983;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" points="
	199.1,124.7 274.6,200.1 199.1,275.5 "/>
<line style="fill:none;stroke-width:18.983;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" x1="265.2" y1="200.1" x2="99.7" y2="200.1"/>
</svg>

            </symbol>

        <!-- end icon-navigate-right  -->


        <!-- icon-thumb-up  -->

        <symbol id="icon-thumb-up" viewBox="0 0 512 512"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 400 400" style="enable-background:new 0 0 400 400;" xml:space="preserve">
<circle style="fill:none;stroke:#1D1D1B;stroke-width:19.0348;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" cx="200.3" cy="200.3" r="189.5"/>
<path style="fill:#1D1D1B;" d="M294.2,199.3c-1,4.9-2.4,9.8-3,14.8c-0.3,2.1,0.9,4.4,1.4,6.7c1.5,8.1-0.5,15.6-3.8,23
	c-0.9,2.1-1.4,4.5-1.5,6.8c-0.1,8.4-2.8,15.9-7.1,23c-1.5,2.4-2.6,5.2-3.3,7.9c-3.4,13.4-12.7,20.8-25.1,25.2
	c-7.1,2.5-14.6,2.7-22,2.9c-31.7,0.8-63-1.9-94-8.1c-18.7-3.7-32.3-20-32.4-39.1c-0.1-20.2-0.1-40.4,0-60.6
	c0.1-17.4,11.6-34,27.9-40.2c10.1-3.8,20.4-7.1,30.5-10.9c2.5-0.9,4.8-2.2,7-3.7c7.6-5.1,14.4-11.2,20.3-18.2
	c5.1-6,8.4-12.7,9.5-20.6c2.1-14.5,11.3-24.7,24.4-27.3c11.6-2.3,21.6,1.6,30,9.4c14.8,13.8,20.3,30.9,16.5,50.9
	c-1.1,5.8-2.6,11.6-3.9,17.5c0.5,0.2,1,0.5,1.6,0.6c14.6,4.2,23.7,13.6,26.7,28.6c0.1,0.4,0.3,0.8,0.5,1.2
	C294.2,192.6,294.2,195.9,294.2,199.3z M124.5,232c0,9.8,0,19.7,0,29.5c0.1,9.2,6.5,17.5,15.2,19c13.3,2.2,26.6,4.4,39.9,5.9
	c18.6,2.1,37.3,2.6,56,1.7c4.9-0.2,9.7-1.1,14-3.6c3.1-1.8,5.9-4,6.4-7.7c0.7-5.5,3.4-9.9,6-14.6c1.8-3.2,2.9-6.8,3.9-10.3
	c0.5-1.7-0.4-3.8,0-5.5c1.2-4.4,2.5-8.8,4.2-13c1.7-4.1,1.9-8,0.8-12.4c-0.9-3.3-1-7-0.6-10.4c0.5-4.6,1.9-9,2.5-13.5
	c1.2-9-4-16.6-12.5-17.2c-7.5-0.5-15,0-22.5,0.3c-1.9,0.1-2.8-0.2-2.1-2.3c0.3-0.7,0.6-1.5,0.9-2.2c4.7-11.1,8.6-22.5,11.2-34.3
	c1.7-7.9,2.6-15.8-0.9-23.4c-3-6.7-7.1-12.5-14.2-15.4c-5.1-2.1-9.4-0.3-11.7,4.6c-0.9,2-1.2,4.2-1.9,6.3
	c-1.5,5.1-2.4,10.4-4.7,15.1c-6.7,14-17.6,24.6-30,33.5c-4.9,3.5-10.3,6.6-15.9,8.9c-9.3,3.8-19,6.7-28.5,10.2
	c-9.5,3.5-15.5,12.2-15.5,22.3C124.5,212.9,124.5,222.5,124.5,232z"/>
</svg>
        </symbol>

        <!-- end icon-thumb-up  -->


       <!-- icon-thumb-down  -->

        <symbol id="icon-thumb-down" viewBox="0 0 512 512"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 400 400" style="enable-background:new 0 0 400 400;" xml:space="preserve">
<circle style="fill:none;stroke:#1D1D1B;stroke-width:18.9739;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" cx="199.9" cy="200.3" r="188.9"/>
<path style="fill:#1D1D1B;" d="M110.3,199.4c1-4.9,2.4-9.8,3-14.7c0.3-2.1-0.9-4.4-1.4-6.7c-1.5-8.1,0.5-15.5,3.8-22.9
	c0.9-2.1,1.4-4.5,1.5-6.8c0.1-8.4,2.8-15.9,7.1-23c1.5-2.4,2.6-5.2,3.3-7.9c3.4-13.3,12.7-20.8,25-25.1c7.1-2.5,14.5-2.7,22-2.9
	c31.6-0.8,62.8,1.9,93.7,8.1c18.6,3.7,32.2,19.9,32.3,39c0.1,20.1,0.1,40.3,0,60.4c-0.1,17.4-11.5,33.9-27.8,40
	c-10.1,3.8-20.3,7.1-30.4,10.8c-2.5,0.9-4.8,2.2-7,3.7c-7.6,5.1-14.4,11.1-20.3,18.1c-5.1,6-8.3,12.6-9.5,20.6
	c-2.1,14.4-11.3,24.6-24.3,27.2c-11.6,2.3-21.6-1.6-29.9-9.4c-14.8-13.8-20.2-30.8-16.4-50.7c1.1-5.8,2.6-11.5,3.9-17.4
	c-0.5-0.2-1-0.5-1.6-0.6c-14.5-4.2-23.6-13.5-26.6-28.5c-0.1-0.4-0.3-0.8-0.5-1.2C110.3,206.1,110.3,202.8,110.3,199.4z
	 M279.5,166.8c0-9.8,0-19.6,0-29.4c-0.1-9.2-6.4-17.5-15.1-19c-13.2-2.2-26.5-4.4-39.8-5.9c-18.5-2.1-37.2-2.6-55.8-1.7
	c-4.9,0.2-9.7,1.1-14,3.6c-3.1,1.8-5.9,4-6.3,7.7c-0.7,5.5-3.4,9.9-6,14.5c-1.8,3.2-2.9,6.8-3.9,10.3c-0.5,1.7,0.4,3.8,0,5.5
	c-1.1,4.4-2.5,8.8-4.2,13c-1.7,4.1-1.9,8-0.8,12.4c0.9,3.3,1,7,0.6,10.4c-0.5,4.5-1.9,9-2.5,13.5c-1.2,9,4,16.6,12.5,17.2
	c7.4,0.5,15,0,22.5-0.3c1.9-0.1,2.8,0.2,2.1,2.3c-0.3,0.7-0.6,1.5-0.9,2.2c-4.7,11.1-8.6,22.4-11.2,34.2c-1.7,7.9-2.6,15.7,0.9,23.4
	c3,6.7,7.1,12.5,14.2,15.3c5,2.1,9.4,0.3,11.6-4.6c0.9-2,1.2-4.2,1.9-6.3c1.5-5,2.4-10.4,4.7-15.1c6.7-14,17.5-24.5,29.9-33.4
	c4.9-3.5,10.3-6.6,15.9-8.8c9.3-3.8,19-6.7,28.4-10.1c9.5-3.5,15.4-12.2,15.4-22.2C279.5,185.9,279.5,176.3,279.5,166.8z"/>
</svg>
        </symbol>

       <!-- end icon-thumb-down -->


        <symbol id="icon-left" viewBox="0 0 512 512"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 200 200" style="enable-background:new 0 0 200 200;" xml:space="preserve">
<polyline style="fill:none;stroke:#1D1D1B;stroke-width:22.2265;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" points="
	91.9,188.3 180.2,99.9 91.9,11.6 "/>
</svg></symbol>
        <symbol id="icon-right" viewBox="0 0 512 512"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 200 200" style="enable-background:new 0 0 200 200;" xml:space="preserve">
<polyline style="fill:none;stroke:#1D1D1B;stroke-width:21.8452;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" points="
	107.6,186.7 20.8,99.9 107.6,13.1 "/>
</svg></symbol>
        <symbol id="icon-burger" viewBox="0 0 512 512"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve">
<line style="fill:none;stroke:#1A1A1A;stroke-width:5.3933;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" x1="19.4" y1="36.6" x2="80.2" y2="36.6"/>
<line style="fill:none;stroke:#1A1A1A;stroke-width:5.3933;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" x1="19.4" y1="50.7" x2="80.2" y2="50.7"/>
<line style="fill:none;stroke:#1A1A1A;stroke-width:5.3933;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" x1="19.4" y1="64.7" x2="80.2" y2="64.7"/>
<circle style="fill:none;stroke:#1A1A1A;stroke-width:5.3933;stroke-miterlimit:10;" cx="49.8" cy="50.3" r="46.7"/>
</svg>
        </symbol>

        <symbol id="icon-about" viewBox="0 0 512 512"><path d="m256 0c-141 0-256 115-256 256c0 141 115 256 256 256c141 0 256-115 256-256c0-141-115-256-256-256z m0 472c-119 0-216-97-216-216c0-119 97-216 216-216c119 0 216 97 216 216c0 119-97 216-216 216z m0-344c-71 0-128 57-128 128c0 71 57 128 128 128c71 0 128-57 128-128c0-71-57-128-128-128z m-5 194c-10 0-17-7-17-17c0-11 7-18 17-18c11 0 17 7 18 18c0 10-7 17-18 17z m27-72c-7 8-6 16-6 24l0-2l-33 0l0-2c0-10 3-18 11-29c7-7 12-13 12-19c0-7-5-11-14-11c-7 0-14 2-19 6l-7-21c7-4 18-8 32-8c25 0 39 14 39 30c0 15-8 24-15 32z"/></symbol>
        <symbol id="icon-person" viewBox="0 0 512 512"><path d="m256 0c-141 0-256 115-256 256c0 141 115 256 256 256c141 0 256-115 256-256c0-141-115-256-256-256z m0 472c-119 0-216-97-216-216c0-119 97-216 216-216c119 0 216 97 216 216c0 119-97 216-216 216z m70-166c-16-3-38-18-38-25l0-17c0-6 9-18 12-29c1-1 3 0 5-2c4-5 5-13 5-16c2-6-5-6-5-6c0 0 5-28 1-46c-6-25-38-37-50-37c-12 0-44 12-50 37c-4 18 1 46 1 46c0 0-6 0-5 6c1 3 2 11 6 16c2 2 3 1 4 2c3 11 12 23 12 29l0 17c0 7-22 22-38 25c-20 4-31 18-26 53c3 18 49 26 96 25c46 1 93-7 96-25c4-35-6-49-26-53z"/></symbol>
        <symbol id="icon-result" viewBox="0 0 512 512"><path d="m211 307l-51-51l-32 32l83 80l173-192l-32-32z m45-307c-141 0-256 115-256 256c0 141 115 256 256 256c141 0 256-115 256-256c0-141-115-256-256-256z m0 472c-119 0-216-97-216-216c0-119 97-216 216-216c119 0 216 97 216 216c0 119-97 216-216 216z"/></symbol>
        <symbol id="icon-data" viewBox="0 0 512 512"><path d="m256 0c-141 0-256 115-256 256c0 141 115 256 256 256c141 0 256-115 256-256c0-141-115-256-256-256z m0 472c-119 0-216-97-216-216c0-119 97-216 216-216c119 0 216 97 216 216c0 119-97 216-216 216z m128-335c0-5-4-8-8-8l-240 0c-5 0-8 3-8 8l0 240c0 4 3 8 8 8l240 0c4 0 8-4 8-8z m-16 224c0 4-4 8-8 8l-208 0c-5 0-8-4-8-8l0-208c0-5 3-8 8-8l208 0c4 0 8 3 8 8z m-46-73l-46-96l-48 51l-41-43l-11 12l52 54l44-46l36 75c-2 3-3 5-3 9c0 9 7 16 16 16c8 0 15-7 15-16c0-9-6-16-14-16z"/></symbol>

        <symbol id="icon-school" viewBox="0 0 512 512"><path d="m256 0c-141 0-256 115-256 256c0 141 115 256 256 256c141 0 256-115 256-256c0-141-115-256-256-256z m0 472c-119 0-216-97-216-216c0-119 97-216 216-216c119 0 216 97 216 216c0 119-97 216-216 216z m111-192l-12-128c-1-4-5-8-9-8l-176 0c-5 0-9 4-9 8l-16 128c-1 4-1 12-1 16l0 64c0 4 4 8 8 8l208 0c4 0 8-4 8-8l0-64c0-4 0-12-1-16z m-15 64c0 4-4 8-8 8l-176 0c-4 0-8-4-8-8l0-32c0-4 4-8 8-8l176 0c4 0 8 4 8 8z m-22-24l-144 0c-5 0-8 4-8 8c0 4 3 8 8 8l144 0c4 0 8-4 8-8c0-4-4-8-8-8z"/></symbol>
        <symbol id="icon-gender" viewBox="0 0 512 512"><path d="m256 0c-141 0-256 115-256 256c0 141 115 256 256 256c141 0 256-115 256-256c0-141-115-256-256-256z m0 472c-119 0-216-97-216-216c0-119 97-216 216-216c119 0 216 97 216 216c0 119-97 216-216 216z m16-218c28-7 48-32 48-62c0-35-29-64-64-64c-35 0-64 29-64 64c0 30 20 55 48 62l0 66l-32 0l0 32l32 0l0 32l32 0l0-32l32 0l0-32l-32 0z m-16-30c-18 0-32-14-32-32c0-18 14-32 32-32c18 0 32 14 32 32c0 18-14 32-32 32z"/></symbol>
        <symbol id="icon-name" viewBox="0 0 512 512"><path d="m256 0c-141 0-256 115-256 256c0 141 115 256 256 256c141 0 256-115 256-256c0-141-115-256-256-256z m0 472c-119 0-216-97-216-216c0-119 97-216 216-216c119 0 216 97 216 216c0 119-97 216-216 216z m112-256c0-22-18-40-40-40l-144 0c-22 0-40 18-40 40l0 80c0 22 18 40 40 40l144 0c22 0 40-18 40-40z m-184-24l144 0c10 0 19 7 22 16l-189 0c3-9 12-16 23-16z m168 104c0 13-11 24-24 24l-144 0c-14 0-24-11-24-24l0-56l192 0z m-168-24l64 0c4 0 8-4 8-8c0-4-4-8-8-8l-64 0c-5 0-8 4-8 8c0 4 3 8 8 8z m128 0l16 0c4 0 8-4 8-8c0-4-4-8-8-8l-16 0c-5 0-8 4-8 8c0 4 3 8 8 8z m-128 32l32 0c4 0 8-4 8-8c0-4-4-8-8-8l-32 0c-5 0-8 4-8 8c0 4 3 8 8 8z"/></symbol>
        <symbol id="icon-age" viewBox="0 0 512 512"><path d="m256 0c-141 0-256 115-256 256c0 141 115 256 256 256c141 0 256-115 256-256c0-141-115-256-256-256z m0 472c-119 0-216-97-216-216c0-119 97-216 216-216c119 0 216 97 216 216c0 119-97 216-216 216z m-47-155c3 14 9 23 17 29c9 6 18 9 27 9c10 0 18-2 25-7c6-4 11-11 15-19c4-8 7-17 9-27c2-10 3-20 3-31c-8 11-16 18-25 22c-9 4-18 6-27 6c-9 0-18-2-27-6c-9-4-17-10-25-17c-7-7-13-16-18-26c-5-10-7-20-7-33c0-12 2-23 5-34c3-11 8-20 15-28c6-8 14-15 24-20c9-5 21-7 33-7c26 0 46 10 61 30c15 20 22 49 22 86c0 16-1 32-3 49c-3 16-7 31-13 45c-6 13-15 24-25 33c-11 9-25 13-42 13c-9 0-17-1-26-4c-9-2-16-6-23-11c-7-6-12-13-17-21c-4-9-7-19-8-31z m44-47c6 0 13-2 18-4c6-3 11-7 15-13c4-5 8-11 10-18c3-7 4-14 4-22c0-8-1-15-4-22c-2-7-6-13-10-18c-4-5-9-9-15-12c-5-3-12-4-18-4c-6 0-12 1-17 4c-6 3-11 7-15 12c-4 5-7 11-9 18c-3 7-4 14-4 22c0 8 1 15 4 22c2 7 5 13 9 18c4 6 9 10 15 13c5 2 11 4 17 4z"/></symbol>
        <symbol id="icon-location" viewBox="0 0 512 512"><path d="m256 0c-141 0-256 115-256 256c0 141 115 256 256 256c141 0 256-115 256-256c0-141-115-256-256-256z m0 472c-119 0-216-97-216-216c0-119 97-216 216-216c119 0 216 97 216 216c0 119-97 216-216 216z m0-344c-71 0-128 57-128 128c0 71 57 128 128 128c71 0 128-57 128-128c0-71-57-128-128-128z m-112 136l58 0c0 15 3 32 6 48l-49 0c-8-14-13-31-15-48z m58-16l-58 0c2-17 7-34 15-48l49 0c-3 16-6 33-6 48z m22-48l64 0c3 16 6 33 6 48l-76 0c0-15 3-32 6-48z m-6 64l76 0c0 15-3 32-6 48l-64 0c-3-16-6-33-6-48z m92 0l58 0c-2 17-7 34-15 48l-49 0c3-16 6-33 6-48z m0-16c0-15-3-32-6-48l49 0c8 14 13 31 15 48z m32-64l-42 0c-3-14-7-26-9-34c20 6 37 18 51 34z m-68-38c2 7 6 21 10 38l-56 0c4-17 8-31 10-38c6-1 12-2 18-2c6 0 12 1 18 2z m-53 4c-2 8-6 20-9 34l-42 0c14-16 31-28 51-34z m-51 178l42 0c3 14 7 26 9 34c-20-6-37-18-51-34z m68 38c-2-7-6-21-10-38l56 0c-4 17-8 31-10 38c-6 1-12 2-18 2c-6 0-12-1-18-2z m53-4c2-8 6-20 9-34l42 0c-14 16-31 28-51 34z"/></symbol>

        <symbol id="icon-facebook" viewBox="0 0 512 512"><path d="m256 0c-141 0-256 115-256 256c0 141 115 256 256 256c141 0 256-115 256-256c0-141-115-256-256-256z m0 472c-119 0-216-97-216-216c0-119 97-216 216-216c119 0 216 97 216 216c0 119-97 216-216 216z m61-255l-45 0l0-33c0-10 11-12 15-12c5 0 29 0 29 0l0-44l-33 0c-45 0-55 33-55 54l0 35l-33 0l0 45l33 0c0 58 0 122 0 122l44 0c0 0 0-65 0-122l38 0z"/></symbol>
        <symbol id="icon-twitter" viewBox="0 0 512 512"><path d="m256 0c-141 0-256 115-256 256c0 141 115 256 256 256c141 0 256-115 256-256c0-141-115-256-256-256z m0 472c-119 0-216-97-216-216c0-119 97-216 216-216c119 0 216 97 216 216c0 119-97 216-216 216z m128-301c-4 2-17 8-29 9c7-5 19-19 22-31c-8 5-25 13-33 13c0 0 0 0 0 0c-10-11-23-18-38-18c-30 0-53 25-53 57c0 4 0 8 1 13l0 0c-39-2-86-23-112-59c-16 29-2 63 16 75c-6 0-17-1-23-7c0 20 9 46 41 56c-6 3-17 2-22 2c2 16 23 38 47 38c-8 11-37 30-73 24c24 16 53 25 83 25c85 0 151-74 147-166c0 0 0 0 0 0c0-1 0-1 0-1c0 0 0-1 0-1c8-6 19-16 26-29z"/></symbol>
        <symbol id="icon-email" viewBox="0 0 512 512"><path d="m256 0c-141 0-256 115-256 256c0 141 115 256 256 256c141 0 256-115 256-256c0-141-115-256-256-256z m0 472c-119 0-216-97-216-216c0-119 97-216 216-216c119 0 216 97 216 216c0 119-97 216-216 216z m0-296l-128 0l0 160l256 0l0-160z m0 16l90 0l-90 64l-90-64z m-112 5l55 36l-55 60z m112 123l-92 0l45-79l47 31l47-31l45 79z m112-27l-54-60l54-36z"/></symbol>

        <symbol id="icon-broken-line" viewBox="0 0 308.2 120.3"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 395.4 120.3" style="enable-background:new 0 0 395.4 120.3;" xml:space="preserve">
<polyline style="stroke-width:12.6303;stroke-miterlimit:10;" points="118.2,52.4 138.1,23.5 160.3,95.9
	179.8,23.5 204.9,95.9 229,23.5 244.9,59.7 396.4,59.7 "/>
<line style="stroke-width:12.6303;stroke-miterlimit:10;" x1="-0.1" y1="59.7" x2="103.9" y2="59.7"/>
</svg></symbol>
        <!-- icon-starter  -->
        <symbol id="icon-starter" viewBox="0 0 512 512">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 200 200" style="enable-background:new 0 0 200 200;" xml:space="preserve">
<circle style="fill:#FFFF00;stroke:#1D1D1B;stroke-width:9.4051;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" cx="99.9" cy="99.4" r="93.6"/>
<path style="fill:#FFFF00;stroke:#1D1D1B;stroke-width:6.9807;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
	M81.4,137.3l38.5-10.2c0,0,0-11.9,4.8-17.3c4.8-5.5,19.5-15.9,19.5-39.2s-20.5-40.9-44-40.9s-42,19-42,43.5c0,29,24,30.7,24,56.8"/>
<line style="fill:#FFFF00;stroke:#1D1D1B;stroke-width:6.9807;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" x1="80" y1="150.4" x2="121.5" y2="139.7"/>
<line style="fill:#FFFF00;stroke:#1D1D1B;stroke-width:6.9807;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" x1="80" y1="163.4" x2="121.5" y2="152.8"/>
<path style="fill:#FFFF00;stroke:#1D1D1B;stroke-width:6.9807;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
	M89.9,168.4c0,0,6.9,10.5,22.8,0"/>
<path style="fill:#FFFF00;stroke:#1D1D1B;stroke-width:6.9807;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
	M94.7,123.1c0,0,2.1-18.3-5.9-32.8c0,0,7.3-1.7,11.4,4.5c0,0,4.1-4.7,10.9-4.7c0,0-8.6,22.8-5,33"/>
<path style="fill:#FFFF00;stroke:#1D1D1B;stroke-width:6.9807;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
	M77.2,40.7h20.7c0,0-16.9,17.3-17.9,17.7c-1,0.4,22.6,0,22.6,0v15.5"/>
<line style="fill:#FFFF00;stroke:#1D1D1B;stroke-width:6.9807;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" x1="102.5" y1="58.4" x2="115.1" y2="50"/>
</svg>

        </symbol>
        <!-- end icon-starter  -->

        <!-- icon-average  -->

        <symbol id="icon-average" viewBox="0 0 512 512"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 200 200" style="enable-background:new 0 0 200 200;" xml:space="preserve">
<circle style="fill:#FFFF00;stroke:#1D1D1B;stroke-width:9.5268;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" cx="99.9" cy="99.9" r="94.9"/>
<circle style="fill:#FFFF00;stroke:#1D1D1B;stroke-width:7.071;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" cx="99.6" cy="99.9" r="65.7"/>
<circle style="fill:#FFFF00;stroke:#1D1D1B;stroke-width:7.071;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" cx="72.6" cy="76.9" r="12.9"/>
<circle style="fill:#FFFF00;stroke:#1D1D1B;stroke-width:7.071;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" cx="128.1" cy="76.9" r="12.9"/>
<polyline style="fill:none;stroke:#1D1D1B;stroke-width:7.071;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" points="
	99.6,92 93.1,104.1 102.6,104.1 "/>
<path style="fill:none;stroke:#1D1D1B;stroke-width:7.071;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
	M139.1,117.1c0,0-10.3,26.5-41.3,24.2"/>
</svg>
        </symbol>

        <!-- end icon-average  -->

        <!-- icon-boss  -->

        <symbol id="icon-boss" viewBox="0 0 512 512"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 200 200" style="enable-background:new 0 0 200 200;" xml:space="preserve">
<circle style="fill:#FFFF00;stroke:#1D1D1B;stroke-width:9.4355;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" cx="99.9" cy="99.5" r="93.9"/>
<polygon style="fill:#FFFF00;stroke:#1D1D1B;stroke-width:7.0033;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" points="
	57.8,133.8 144.5,133.8 157.4,76.4 133.9,103.9 120.4,69.3 101.6,103.2 82.5,69.3 69.6,101.6 48.4,75.7 "/>
<circle style="fill:#FFFF00;stroke:#1D1D1B;stroke-width:7.0033;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" cx="81.6" cy="65.1" r="8.7"/>
<circle style="fill:#FFFF00;stroke:#1D1D1B;stroke-width:7.0033;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" cx="121.3" cy="65.1" r="8.7"/>
<circle style="fill:#FFFF00;stroke:#1D1D1B;stroke-width:7.0033;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" cx="157.4" cy="74.9" r="8.7"/>
<circle style="fill:#FFFF00;stroke:#1D1D1B;stroke-width:7.0033;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" cx="48.4" cy="74.9" r="8.7"/>
<line style="fill:#FFFF00;stroke:#1D1D1B;stroke-width:7.0033;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" x1="58.3" y1="146.2" x2="142.8" y2="146.2"/>
</svg></symbol>

        <!-- end icon-boss  -->

        <!-- icon-master -->

        <symbol id="icon-master" viewBox="0 0 512 512"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 200 200" style="enable-background:new 0 0 200 200;" xml:space="preserve">
<circle style="fill:#FFFF00;stroke:#1D1D1B;stroke-width:9.4964;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" cx="99.9" cy="100" r="94.6"/>
<path style="fill:none;stroke:#1D1D1B;stroke-width:7.0485;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
	M99.6,45.8c0,0-1.3-5.4-13.2-5.6s-16.7,19.3-5.2,18.4c11.9-0.9,11.3,21.7,3.7,21.4c-10.2-0.3-9,5.1-9,5.1"/>
<path style="fill:none;stroke:#1D1D1B;stroke-width:7.0485;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
	M99.9,107.4c0,0-6.7,5.5-14.3,2.3c-7.6-3.2-5.2-8.4-5.4-14.1c-0.2-5.7-4.7-13-12.8-10.6c-4.9,1.5-10.1,7.6-5.4,14.3
	c4.7,6.7,0,18.9-10.7,18.7c-10.7-0.2-16.4-11.6-2.8-26.5c0,0-7.8-15.8,11.4-23.7"/>
<path style="fill:none;stroke:#1D1D1B;stroke-width:7.0485;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
	M75,49.1c0,0-11,0.7-13.8,9.6c-2.8,8.9,6.9,16.7,6.9,16.7"/>
<path style="fill:none;stroke:#1D1D1B;stroke-width:7.0485;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
	M49.1,117.8c0,0-8.7,29.8,22.5,23.9"/>
<path style="fill:none;stroke:#1D1D1B;stroke-width:7.0485;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
	M99.9,46.9L99.6,144c-20.7,17.5-28.7-2.1-30.1-8c-1.5-5.8-3.2-15.1,8.8-15.3c12-0.2,8.9,12.2,8.9,12.2"/>
<path style="fill:none;stroke:#1D1D1B;stroke-width:7.0485;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
	M100.1,45.8c0,0,1.3-5.4,13.2-5.6S130,58,118.5,58.6c-10.8,0.5-12,20.7-3.7,21.4c10.1,0.9,9,5.1,9,5.1"/>
<path style="fill:none;stroke:#1D1D1B;stroke-width:7.0485;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
	M99.9,107.4c0,0,6.7,5.5,14.3,2.3c7.6-3.2,5.2-8.4,5.4-14.1c0.2-5.7,4.7-13,12.8-10.6c4.9,1.5,10.1,7.6,5.4,14.3s0,18.9,10.7,18.7
	c10.7-0.2,16.4-11.6,2.8-26.5c0,0,7.8-15.8-11.4-23.7"/>
<path style="fill:none;stroke:#1D1D1B;stroke-width:7.0485;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
	M124.7,49.1c0,0,11,0.7,13.8,9.6c2.8,8.9-6.9,16.7-6.9,16.7"/>
<path style="fill:none;stroke:#1D1D1B;stroke-width:7.0485;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
	M150.6,117.8c0,0,8.7,29.8-22.5,23.9"/>
<path style="fill:none;stroke:#1D1D1B;stroke-width:7.0485;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
	M99.9,46.9l0.2,97.1c20.7,17.5,28.7-2.1,30.1-8c1.5-5.8,3.2-15.1-8.8-15.3c-12-0.2-8.9,12.2-8.9,12.2"/>
</svg></symbol>
        <!-- end icon-master  -->

        <!-- icon-endboss  -->

        <symbol id="icon-endboss" viewBox="0 0 512 512"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 200 200" style="enable-background:new 0 0 200 200;" xml:space="preserve">
<circle style="fill:#FFFF00;stroke:#1D1D1B;stroke-width:9.441;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" cx="99.1" cy="99.3" r="94"/>
<line style="fill:none;stroke:#1D1D1B;stroke-width:7.0074;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" x1="153.3" y1="111.1" x2="170.2" y2="111.1"/>
<line style="fill:none;stroke:#1D1D1B;stroke-width:7.0074;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" x1="154.1" y1="89.4" x2="168.8" y2="83.1"/>
<line style="fill:none;stroke:#1D1D1B;stroke-width:7.0074;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" x1="168.1" y1="137.6" x2="154.1" y2="131.6"/>
<line style="fill:none;stroke:#1D1D1B;stroke-width:7.0074;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" x1="46.3" y1="111.1" x2="30.3" y2="111.1"/>
<line style="fill:none;stroke:#1D1D1B;stroke-width:7.0074;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" x1="45.4" y1="89.4" x2="30.7" y2="83.1"/>
<line style="fill:none;stroke:#1D1D1B;stroke-width:7.0074;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" x1="30.3" y1="138" x2="45.4" y2="131.6"/>
<path style="fill:none;stroke:#1D1D1B;stroke-width:7.0074;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
	M72.6,90.1c0,0,6.4,5.2,12.3,9.3c5.9,4.2,10.1,6.6,18.7,2.7c8.6-3.9,2.2-9.8,2-10.6c-0.2-0.7-10.3-9.8-21.9-21.4s-20.4,1.2-20.4,1.2
	s0,0-11.8,11.3s0,18.9,0,18.9l18.2,19.9v38.8h59.2v-37.1c0,0,19.2-18.2,10.3-34.4"/>
<path style="fill:none;stroke:#1D1D1B;stroke-width:7.0074;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
	M100.2,103.4c0,0,6.5,13.5-1.1,26"/>
<path style="fill:none;stroke:#1D1D1B;stroke-width:7.0074;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
	M132.5,89.6L132.5,89.6c-3.9-0.7-6.5-4.5-5.8-8.4l4.7-25.6c0.7-3.9,4.5-6.5,8.4-5.8l0,0c3.9,0.7,6.5,4.5,5.8,8.4l-4.7,25.6
	C140.2,87.7,136.4,90.3,132.5,89.6z"/>
<path style="fill:none;stroke:#1D1D1B;stroke-width:7.0074;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
	M116.9,86.7l-2-0.4c-4.7-0.9-7.9-5.5-7-10.2l4.8-26.1c0.9-4.7,5.5-7.9,10.2-7l2,0.4c4.7,0.9,7.9,5.5,7,10.2l-4.8,26.1
	C126.2,84.4,121.6,87.6,116.9,86.7z"/>
<path style="fill:none;stroke:#1D1D1B;stroke-width:7.0074;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
	M84.6,70.6l4.8-26c1-5.4,6.2-8.9,11.6-7.9l3.9,0.7c5.4,1,8.9,6.2,7.9,11.6L108,75c-0.8,4.6-4.8,7.9-9.2,8.1"/>
<path style="fill:none;stroke:#1D1D1B;stroke-width:7.0074;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
	M65,67.2l4.7-25.3c0.9-4.8,5.5-7.9,10.2-7l2.3,0.4c4.8,0.9,7.9,5.5,7,10.2l-4.7,25.3"/>
</svg></symbol>
        <!-- end icon-endboss  -->

        <symbol id="icon-close" viewBox="0 0 512 512"><path d="m256 33c124 0 224 100 224 224c0 124-100 224-224 224c-124 0-224-100-224-224c0-124 100-224 224-224z m108 299l-75-75l76-75c3-3 3-9 0-12l-22-21c-2-2-4-3-6-3c-2 0-3 1-5 3l-76 74l-76-74c-2-2-3-3-5-3c-2 0-4 1-6 3l-21 21c-3 3-3 9 0 12l76 75l-76 76c-2 1-2 3-2 5c0 2 0 4 2 6l21 22c2 2 4 2 6 2c2 0 4 0 6-2l75-76l76 75c2 2 3 3 5 3c2 0 4-1 6-3l21-21c2-1 3-4 3-6c0-2-1-4-3-6z"/></symbol>


        <!-- icon-correct  -->

        <symbol id="icon-correct" viewBox="0 0 512 512"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 200 200" style="enable-background:new 0 0 200 200;" xml:space="preserve">
<circle style="fill:none;stroke:#1D1D1B;stroke-width:9.4503;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" cx="99.6" cy="99.1" r="94.1"/>
<polyline style="fill:none;stroke:#1D1D1B;stroke-width:9.4503;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" points="
	152.3,50.3 54.6,148 54.6,77.2 "/>
</svg></symbol>

            <!-- end icon-correct -->

        <symbol id="icon-incorrect" viewBox="0 0 512 512"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve">
<circle style="fill:none;stroke:#1D1E1C;stroke-width:4.7643;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" cx="50" cy="49.8" r="47.4"/>
<line style="fill:none;stroke:#1D1E1C;stroke-width:4.7643;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" x1="76.6" y1="25.2" x2="27.3" y2="74.4"/>
<line style="fill:none;stroke:#1D1E1C;stroke-width:4.7643;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" x1="74.4" y1="74.4" x2="25.1" y2="25.2"/>
</svg></symbol>

        <symbol id="icon-select" viewBox="0 0 512 512"><path d="m256 0c-141 0-256 115-256 256c0 141 115 256 256 256c141 0 256-115 256-256c0-141-115-256-256-256z m0 472c-119 0-216-97-216-216c0-119 97-216 216-216c119 0 216 97 216 216c0 119-97 216-216 216z m24-248c0 0-59-1-101 26c-43 28-53 86-53 86c0 0 38-44 75-58c41-15 79-6 79-6l0 48l96-64l-96-80z"/></symbol>
        <symbol id="icon-edit" viewBox="0 0 512 512"><path d="m256 0c-141 0-256 115-256 256c0 141 115 256 256 256c141 0 256-115 256-256c0-141-115-256-256-256z m0 472c-119 0-216-97-216-216c0-119 97-216 216-216c119 0 216 97 216 216c0 119-97 216-216 216z m-106-191c-16 16-26 37-20 57c1 2 22-6 22-6l11-24l29-5l9 8l8 9l-5 29l-24 11c0 0-8 21-6 22c20 6 41-4 57-20c17-17 21-43 12-64l134-122l7-21l-14-13l-13-14l-21 7l-122 134c-21-9-47-5-64 12z"/></symbol>
        <symbol id="icon-delete" viewBox="0 0 512 512"><path d="m335 154l-79 79l-79-79l-23 23l79 79l-79 79l23 23l79-79l79 79l23-23l-79-79l79-79z m-79-154c-141 0-256 115-256 256c0 141 115 256 256 256c141 0 256-115 256-256c0-141-115-256-256-256z m0 472c-119 0-216-97-216-216c0-119 97-216 216-216c119 0 216 97 216 216c0 119-97 216-216 216z"/></symbol>

    </svg>
</div>