<div class="user-container">
    <div class="wrapper clearfix">

        <div class="container user">

            <div class="full-width-sm">

                <div class="form-container">
                    <div class="row">
                        <h1>{{ 'info.title' | translate }}</h1>
                    </div>
                    <div class="row">
                        <div class="column-button">
                            <form name="userForm" novalidate>
                                <fieldset>
                                    <div class="field-container">
                                        <div icon-font icon-class="icon-name" class="icon-field"></div>
                                        <input type="text" placeholder="{{'info.form.placeholder.name' | translate}}" ng-model="user.name"/>
                                    </div>
                                    <div class="field-container">
                                        <div icon-font icon-class="icon-email" class="icon-field"></div>
                                        <input type="text" placeholder="{{'info.form.placeholder.email' | translate}}" ng-model="user.email" required/>
                                    </div>
                                    <div class="field-container">
                                        <div icon-font icon-class="icon-age" class="icon-field"></div>
                                        <input type="text" placeholder="{{'info.form.placeholder.age' | translate}}" ng-model="user.age" min="0" max="99" ng-pattern="/^[0-9]{1,3}$/" required/>
                                    </div>
                                    <div class="field-container">
                                        <div icon-font icon-class="icon-gender" class="icon-field"></div>
                                        <button class="gender-button" type="button" ng-click="selectGender('male')" ng-class="{active: (user.gender === 'male')}"><span>{{'info.form.placeholder.gender.male' | translate}}</span></button>
                                        <button class="gender-button female" type="button" ng-click="selectGender('female')" ng-class="{active: (user.gender === 'female')}"><span>{{'info.form.placeholder.gender.female' | translate}}</span></button>
                                    </div>
                                    <div class="field-container">
                                        <div icon-font icon-class="icon-location" class="icon-field"></div>
                                        <input type="text" placeholder="{{'info.form.placeholder.city' | translate}}" ng-model="user.city" required/>
                                    </div>
                                </fieldset>
                            </form>
                            <div toggle-question question="question1"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>	

