<div class="result-container">
    <div class="wrapper clearfix">

        <div class="container result">

            <div class="full-width-sm">

                <div class="row home-background">
                    <icon-font icon-class="{{ $ctrl.profile.icon }}"></icon-font>
                    <div class="text">
                        <h1>{{ $ctrl.profile.label  }}</h1>
                        <h2>{{ $ctrl.numCorrectAnswers }} van de {{ $ctrl.numQuestions }} goed.</h2>
                    </div>
                </div>

                <div class="row background">
                    <h3>{{ 'result.intro.teaser.text' | translate }}</h3>

                    <social-share class="social-container" menu="$ctrl.menu"></social-share>
                    <h2 ng-bind-html="$ctrl.trustAsHtml('result.intro.share.text')"></h2>
                </div>

                <div class="row white">
                    <h2>{{ 'result.all.profiles.text' | translate }}</h2>
                    <div ng-repeat="profile in $ctrl.profiles" class="result-block">
                        <div class="result-block-icon">
                            <icon-font icon-class="{{ profile.icon }}"></icon-font>
                        </div>
                        <div class="result-block-text profile">
                            <div class="text">
                                <h2>{{ profile.label }}</h2>
                                <h3>{{ profile.description }}</h3>
                            </div>
                            <profile-score ng-if="profile.userCount > 0" profile="profile"></profile-score>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>	

