#tinderslide ul {
  margin: 0;
  position: relative;
  display: block;
  height: 100%;
}
#tinderslide ul li {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  text-align: center;
  padding: 10px 10px 10px 10px;
  background: #191919;
  font-size: 24px;
  -webkit-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
  -moz-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
  -ms-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
  -o-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
  transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
#tinderslide ul li .like,
#tinderslide ul li .dislike {
  background: url("../img/button-nav-like.png") no-repeat scroll 0 0;
  opacity: 0;
  height: 80px;
  position: absolute;
  width: 170px;
  left: 45px;
  top: 40px;
  z-index: 1;
  overflow: hidden;
  -webkit-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
  -moz-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
  -ms-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
  -o-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
  transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
#tinderslide ul li .dislike {
  right: 45px;
  left: auto;
  background: url("../img/button-nav-dislike.png") no-repeat scroll 0 0;
}
#tinderslide ul li .img {
  height: 90%;
  width: 100%;
  margin-bottom: 5px;
  position: relative;
  -webkit-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
  -moz-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
  -ms-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
  -o-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
  transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
  overflow: hidden;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
  -webkit-transform-style: preserve-3d;
}
html,
body {
  background-color: #000000;
  font-family: Avenir-Black, sans-serif;
  overflow: hidden;
  overflow-y: auto;
}
h1,
h2,
h3,
p,
a,
label {
  font-family: Avenir-Black, sans-serif;
  color: #ffffff;
}
span {
  font-family: Avenir-Light, sans-serif;
  color: #ffffff;
  font-size: 14pt;
}
h1 {
  font-size: 19pt;
  font-weight: 400;
  text-transform: uppercase;
  text-align: left;
  margin: 20px;
}
@media (min-width: 320px) {
  h1 {
    font-size: 22pt;
  }
}
@media (min-width: 480px) {
  h1 {
    font-size: 28pt;
  }
}
@media (min-width: 992px) {
  h1 {
    font-size: 32pt;
  }
}
h2 {
  font-size: 16pt;
  font-weight: 200;
  text-transform: uppercase;
  text-align: left;
  margin: 20px;
}
@media (min-width: 480px) {
  h2 {
    font-size: 24pt;
  }
}
@media (min-width: 992px) {
  h2 {
    font-size: 26pt;
  }
}
h3,
label {
  font-size: 14pt;
  font-weight: 200;
  text-transform: uppercase;
  text-align: left;
  margin: 20px;
}
@media (min-width: 480px) {
  h3,
  label {
    font-size: 18pt;
  }
}
@media (min-width: 992px) {
  h3,
  label {
    font-size: 20pt;
  }
}
p {
  text-transform: uppercase;
  font-size: 14pt;
  text-align: left;
}
@media (min-width: 480px) {
  p {
    font-size: 14pt;
  }
}
@media (min-width: 768px) {
  p {
    font-size: 28pt;
  }
}
a {
  font-weight: 900;
  text-transform: uppercase;
  text-align: left;
  margin: 10px;
  text-decoration: underline;
  word-wrap: break-word;
}
a:active,
a:visited,
a:hover {
  color: #ffffff;
}
label {
  text-align: left;
}
#page-holder {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: #000000;
}
#page-holder.home,
#page-holder.einde {
  background-color: #FFFF00;
}
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0px;
  box-sizing: border-box;
}
@media (max-width: 768px) {
  .container {
    padding: 0px;
  }
}
@media (min-width: 1200px) {
  .container.home.about {
    width: 1100px;
  }
}
/**
* Header
*/
.navigation-top .nav {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
}
@media (min-width: 992px) {
  .navigation-top .nav {
    float: left;
    width: 100%;
  }
}
@media (min-width: 768px) {
  .navigation-top .nav-elements {
    float: right;
  }
}
@media (max-width: 767px) {
  .navigation-top .nav-elements {
    padding-left: 5px;
  }
}
.navigation-top .nav-elements .element {
  float: left;
  margin: 0 7px 0 0;
  padding: 3px 0;
  color: #666;
}
.navigation-top .nav-elements .element a {
  padding-left: 7px;
  border-left: 1px solid #E0DFDE;
  color: #f5f5f5;
}
.navigation-top .nav-elements .element a:hover {
  color: #dd0000;
}
.navigation-top .nav-elements .element a.readmore {
  border: none;
  padding-left: 15px;
}
.navigation-top .nav-elements .login-menu {
  margin-top: 0px;
  margin-left: -10px;
}
.navigation-top .nav-elements .login-menu .element {
  float: none;
  padding: 10px 5px;
  padding-left: 10px;
  margin-left: -5px;
  margin-right: -10px;
  height: 40px;
  -webkit-box-shadow: inset 0 -1px 0 0 lighten(#666,5%), inset 0 0px 0 0 darken(#666,10%);
  box-shadow: inset 0 -1px 0 0 lighten(#666,5%), inset 0 0px 0 0 darken(#666,10%);
}
.navigation-top .nav-elements .login-menu .element:first-child {
  -webkit-box-shadow: inset 0 -1px 0 0 lighten(#666,10%), inset 0 -2px 0 0 darken(#666,10%);
  box-shadow: inset 0 -1px 0 0 lighten(#666,10%), inset 0 -2px 0 0 darken(#666,10%);
}
.navigation-top .nav-elements .login-menu .element a {
  color: #fff;
}
.navigation-top .nav-elements .login-menu .element a.large {
  display: block;
  margin-top: -3px;
}
header.primary {
  position: fixed;
  margin-bottom: 28px;
  width: 100%;
  top: 0px;
  z-index: 4;
}
header .full-width-sm {
  height: 100%;
}
header .full-width-sm .row {
  margin: 0;
  padding: 0;
}
header .full-width-sm .row.header-container {
  background-color: #FFFF00;
}
@media (max-width: 320px) {
  header .full-width-sm .row.header-container {
    height: 40px;
  }
}
header .full-width-sm .row.header-container .header-logo-container {
  background: #FFFF00;
  float: left;
}
header .full-width-sm .row.header-container .header-logo-container .header-logo {
  float: left;
  margin: 0 auto;
}
@media (max-width: 320px) {
  header .full-width-sm .row.bullet-navigate-container {
    height: 48px;
  }
}
header .full-width-sm .row.bullet-navigate-container .nav {
  background: #000000;
}
header .full-width-sm .row .header-title {
  float: left;
  height: 52px;
  margin: 0px auto;
  padding: 0px 75px;
  background: #dd0000;
}
@media (max-width: 480px) {
  header .full-width-sm .row .header-title {
    padding: 0px 25px;
  }
}
@media (max-width: 320px) {
  header .full-width-sm .row .header-title {
    padding: 0px 5px;
  }
}
header .full-width-sm .row .header-title h3 {
  text-align: left;
  color: #ffffff;
  font-weight: normal;
  font-size: 16pt;
  margin: 14px 4px 14px 4px;
  text-transform: none;
}
@media (max-width: 480px) {
  header .full-width-sm .row .header-title h3 {
    font-size: 14pt;
    margin: 16px 4px 14px 4px;
  }
}
.btn-menu {
  position: absolute;
  right: 15px;
  width: 37px;
  top: 7px;
}
@media (max-width: 320px) {
  .btn-menu {
    top: 7px;
    right: 3px;
  }
}
.burger-menu {
  position: absolute;
  width: 100%;
  right: 0px;
  top: 0px;
}
.burger-menu .icon-burger {
  position: absolute;
  right: 0px;
  margin: 3px 5px;
}
.burger-menu .dropdown-menu {
  position: absolute;
  width: 348px;
  top: 58px;
  right: 0px;
  left: auto !important;
  border: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  padding: 0;
  white-space: normal;
  z-index: 1060;
  text-align: right;
  background-clip: padding-box;
  background-color: #000000;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
@media (max-width: 320px) {
  .burger-menu .dropdown-menu {
    top: 30px;
  }
}
.burger-menu .dropdown-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.burger-menu .dropdown-menu ul li {
  cursor: pointer;
  color: white;
  font-size: 21pt;
  line-height: 48pt;
  font-weight: bold;
  margin: 10px;
}
.burger-menu .dropdown-menu ul li span {
  width: 100%;
  font-size: 22px;
}
footer button {
  margin: 5px 0px;
  padding: 7px 15px;
}
footer button span {
  color: #666;
  font-size: 11pt;
  font-weight: bolder;
}
footer p {
  margin: 0;
  padding: 0 10px;
  color: #666;
  font-size: 9pt;
}
@media (min-width: 768px) {
  footer p {
    padding: 0;
  }
}
footer a {
  color: #002E6B;
}
footer a:hover,
footer a:focus,
footer a:active {
  text-decoration: underline;
}
footer .copyright {
  margin-top: 4px;
  float: right;
}
footer.primary {
  width: 100%;
  position: fixed;
  bottom: 0px;
  z-index: 3;
  background-color: #FFFF00;
}
footer .full-width-sm {
  box-sizing: border-box;
  height: 100%;
}
footer .full-width-sm .row {
  margin: 0 auto;
  position: relative;
}
@media (max-width: 320px) {
  footer .full-width-sm .row:first-child {
    height: 54px;
    background-color: #FFFF00;
  }
  footer .full-width-sm .row:last-child {
    height: 49px;
    background-color: #FFFF00;
  }
}
footer .full-width-sm .row .nav-container {
  position: absolute;
  bottom: 0px;
  width: 100%;
  margin: 0 auto;
  height: 80px;
}
footer .full-width-sm .row .nav-container .nav {
  background-color: #FFFF00;
}
footer .full-width-sm .row .nav-container .nav.home {
  background-color: #000000;
}
footer .full-width-sm .row .nav-container .disabled .icon-navigate-right {
  cursor: default;
  fill: rgba(0, 0, 0, 0.22);
  stroke: rgba(0, 0, 0, 0.22);
}
@media (max-width: 320px) {
  footer .full-width-sm .row .nav-container {
    bottom: 0;
    height: 68px;
  }
}
footer .full-width-sm .row .nav-container div {
  height: 100%;
}
footer .full-width-sm .row .nav-container .start-test-container {
  margin: 0 auto;
  width: 440px;
}
footer .full-width-sm .row .nav-container .start-test-container .icon.icon-navigate-right {
  float: left;
  margin: 8px;
  fill: #FFFF00;
  stroke: #FFFF00;
}
@media (max-width: 480px) {
  footer .full-width-sm .row .nav-container .start-test-container {
    margin: 0 auto;
    width: auto;
    width: 375px;
    padding: 0 15px 0 20px;
  }
  footer .full-width-sm .row .nav-container .start-test-container .text {
    width: auto !important;
    margin: 16px 5px 16px 0 !important;
  }
  footer .full-width-sm .row .nav-container .start-test-container .text h3 {
    color: #FFFF00;
    text-align: right;
    margin: 10px 5px 8px 25px!important;
    font-size: 22pt !important;
    font-family: Avenir-Black, sans-serif;
  }
  footer .full-width-sm .row .nav-container .start-test-container .icon.icon-navigate-right {
    float: left;
    margin: 16px 8px;
    fill: #FFFF00;
    width: 48px;
    stroke: #FFFF00;
  }
}
@media (max-width: 320px) {
  footer .full-width-sm .row .nav-container .start-test-container {
    float: left;
    margin: 0px 5px 8px 0px;
    padding: 0 25px 0 20px;
  }
  footer .full-width-sm .row .nav-container .start-test-container .icon.icon-navigate-right {
    float: left;
    margin: 16px 5px;
    fill: #FFFF00;
    width: 48px;
    stroke: #FFFF00;
  }
}
footer .full-width-sm .row .nav-container .start-test-container .text {
  width: 280px;
  float: left;
  margin: 8px 20px;
}
footer .full-width-sm .row .nav-container .start-test-container .text h3 {
  color: #FFFF00;
  text-align: right;
  margin: 15px 0px;
  font-size: 28pt;
  font-family: Avenir-Black, sans-serif;
}
@media (max-width: 320px) {
  footer .full-width-sm .row .nav-container .start-test-container .text {
    bottom: 0;
    height: 54px;
    width: auto;
  }
  footer .full-width-sm .row .nav-container .start-test-container .text h3 {
    color: #FFFF00;
    text-align: right;
    margin: 14px 0px;
    font-size: 18pt !important;
    font-family: Avenir-Black, sans-serif;
  }
}
footer .full-width-sm .row .nav-container.no-social {
  bottom: 0px;
}
footer button {
  background: none;
}
.social-container {
  bottom: 0px;
  width: 100%;
  margin: 0 auto;
  background-color: #000000;
}
.social-container .social-wrapper {
  width: 100%;
  padding: 5px 30px;
  text-align: right;
}
@media (max-width: 480px) {
  .social-container .social-wrapper {
    text-align: center;
  }
}
.social-container .social-wrapper div {
  display: inline-block;
}
@media (max-width: 768px) {
  .social-container .social-wrapper .share-title {
    display: none;
  }
}
.social-container .social-wrapper .share-title h3 {
  margin: 14px 0px;
  font-size: 15pt;
}
.footer .nav .wrapper {
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
}
@media (max-width: 767px) {
  footer.primary {
    margin-top: 5px;
  }
}
.home-container {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding: 0px;
  box-sizing: border-box;
}
.home-container .wrapper {
  width: 100%;
}
.home-container .wrapper .home {
  padding: 100px 0px 50px 0px;
}
@media (max-width: 480px) {
  .home-container .wrapper .home {
    padding: 80px 0px 50px 0px;
  }
}
@media (max-width: 320px) {
  .home-container .wrapper .home {
    padding: 40px 0px 50px 0px;
  }
}
.home-container .wrapper .home.about,
.home-container .wrapper .home.reminder {
  padding: 120px 0px 120px 0px;
}
.home-container .wrapper .home.about h1,
.home-container .wrapper .home.reminder h1 {
  color: #ffffff;
}
@media (min-width: 480px) and (max-width: 768px) {
  .home-container .wrapper .home.about,
  .home-container .wrapper .home.reminder {
    padding: 80px 0px 100px 0px;
  }
}
@media (max-width: 480px) {
  .home-container .wrapper .home.about,
  .home-container .wrapper .home.reminder {
    padding: 80px 0px 90px 0px;
  }
}
.home-container .wrapper .home .full-width-sm {
  width: 100%;
  text-align: center;
}
.home-container .wrapper .home .full-width-sm h1 {
  margin: 0 auto;
  padding: 30px 5%;
  width: 100%;
  line-height: 1.1;
  color: #ffffff;
}
@media (max-width: 320px) {
  .home-container .wrapper .home .full-width-sm h1 {
    padding: 20px 20px;
  }
}
@media (max-width: 768px) {
}
.home-container .wrapper .home .full-width-sm h1.low {
  padding: 20px 18px 0px 18px;
}
@media (max-width: 320px) {
  .home-container .wrapper .home .full-width-sm h1.low {
    padding: 20px 18px 0px 18px;
  }
}
@media (min-width: 768px) {
  .home-container .wrapper .home .full-width-sm h1.low {
    padding: 180px 18px 0px 18px;
    line-height: 1.3;
  }
}
@media (min-width: 992px) {
  .home-container .wrapper .home .full-width-sm h1.low {
    padding: 190px 18px 0px 18px;
    line-height: 1.3;
  }
}
@media (min-width: 1200px) {
  .home-container .wrapper .home .full-width-sm h1.low {
    max-width: 780px;
    margin-left: 0px;
  }
}
.home-container .wrapper .home .full-width-sm a {
  margin: 0px;
}
.home-container .wrapper .home .full-width-sm h2,
.home-container .wrapper .home .full-width-sm h3 {
  margin: 0 auto;
  padding: 20px 10px;
  width: 100%;
  color: #ffffff;
}
@media (max-width: 480px) {
  .home-container .wrapper .home .full-width-sm h2,
  .home-container .wrapper .home .full-width-sm h3 {
    padding: 20px 20px;
  }
}
@media (max-width: 320px) {
  .home-container .wrapper .home .full-width-sm h2,
  .home-container .wrapper .home .full-width-sm h3 {
    margin: 0 auto 20px;
    padding: 20px 10px;
  }
}
.home-container .wrapper .home .full-width-sm .home-icon-container-holder {
  width: 100%;
  margin: 0;
}
@media (max-width: 480px) {
  .home-container .wrapper .home .full-width-sm .home-icon-container-holder .col-sm-12 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
@media (min-width: 992px) {
  .home-container .wrapper .home .full-width-sm .home-icon-container-holder {
    width: 100%;
  }
}
.home-container .wrapper .home .full-width-sm .home-icon-container-holder .icon-container {
  position: absolute;
  left: 0px;
  width: 100%;
  margin: 0 auto;
  padding: 0px 30px;
  text-align: center;
}
@media (max-width: 480px) {
  .home-container .wrapper .home .full-width-sm .home-icon-container-holder .icon-container {
    top: 50px;
    padding: 0px 10px;
  }
}
@media (max-width: 320px) {
  .home-container .wrapper .home .full-width-sm .home-icon-container-holder .icon-container {
    top: 90px;
    padding: 0px 10px;
  }
}
.home-container .wrapper .home .full-width-sm .home-icon-container-holder .icon-container .icon-test {
  position: relative;
  float: none;
  margin: 175px auto;
  border-radius: 50%;
  width: 260px;
  height: 260px;
  border: 8px solid #000000;
}
.home-container .wrapper .home .full-width-sm .home-icon-container-holder .icon-container .icon-test h1 {
  font-family: Avenir-BlackOblique, sans-serif !important;
  margin: 12px 0;
  padding: 30px 10px 30px 10px;
  text-align: center;
  width: 100%;
  font-size: 35pt;
}
@media (max-width: 320px) {
  .home-container .wrapper .home .full-width-sm .home-icon-container-holder .icon-container {
    margin: 0 auto 20px;
    padding: 20px 10px;
  }
}
@media (min-width: 992px) {
  .home-container .wrapper .home .full-width-sm .home-icon-container-holder {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .home-container .wrapper .home .full-width-sm .home-icon-container-holder .icon-container {
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    width: 100%;
  }
}
@media (max-width: 320px) {
  .home-container .wrapper .home .full-width-sm .home-icon-container-holder .icon-container {
    top: 90px;
  }
}
.home-container .wrapper .home .full-width-sm .text-container {
  position: absolute;
  left: 0px;
  top: 470px;
  width: 100%;
  margin: 0 auto;
  padding: 0 0 120px;
  text-align: center;
  background-color: #FFFF00;
}
.home-container .wrapper .home .full-width-sm .text-container h1 {
  color: #000000;
}
.home-container .wrapper .home .full-width-sm .text-container h2 {
  font-family: Avenir-Light, sans-serif;
  color: #000000;
  text-align: center;
  font-size: 20pt;
  padding: 0px 50px;
  max-width: 525px;
  min-width: 525px;
  box-sizing: border-box;
}
.home-container .wrapper .home .full-width-sm .text-container a {
  color: #000000;
}
@media (max-width: 768px) {
  .home-container .wrapper .home .full-width-sm .text-container a {
    font-size: 11pt;
  }
}
@media (max-width: 480px) {
  .home-container .wrapper .home .full-width-sm .text-container a {
    font-size: 9pt;
  }
}
@media (max-width: 480px) {
  .home-container .wrapper .home .full-width-sm .text-container {
    top: 360px;
    padding: 0 0 120px;
    width: auto;
    left: 0;
  }
  .home-container .wrapper .home .full-width-sm .text-container h2 {
    font-size: 17pt;
    padding: 0 20px;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    box-sizing: border-box;
  }
}
@media (max-width: 320px) {
  .home-container .wrapper .home .full-width-sm .text-container h2 {
    font-size: 14pt;
    padding: 0 25px;
  }
}
.home-container .wrapper .home .full-width-sm .text-container.full {
  top: 160px;
}
@media (max-width: 480px) {
  .home-container .wrapper .home .full-width-sm .text-container.full {
    top: 60px;
  }
}
.home-container .wrapper .home .full-width-sm .text-container.full h2 {
  max-width: 100%;
  width: 100%;
  text-align: left;
  padding: 10px 5%;
}
.home-container .wrapper .home .full-width-sm .text-container.sponsor {
  padding: 0 40px 100px;
  text-align: left;
}
@media (max-width: 480px) {
  .home-container .wrapper .home .full-width-sm .text-container.sponsor {
    padding: 0 20px 80px;
    text-align: left;
  }
}
.home-container .wrapper .home .full-width-sm .text-container.sponsor h2 {
  float: left;
  text-align: left;
  padding: 20px;
  margin: 45px 20px;
  width: 420px;
  max-width: 420px;
  min-width: 420px;
}
@media (max-width: 768px) {
  .home-container .wrapper .home .full-width-sm .text-container.sponsor h2 {
    padding: 0;
    margin: 65px 20px;
    text-align: left;
    width: 240px;
    max-width: 240px;
    min-width: 240px;
  }
}
@media (max-width: 480px) {
  .home-container .wrapper .home .full-width-sm .text-container.sponsor h2 {
    margin: 38px 10px;
    width: 180px;
    max-width: 180px;
    min-width: 180px;
  }
}
@media (max-width: 320px) {
  .home-container .wrapper .home .full-width-sm .text-container.sponsor h2 {
    margin: 10px 10px;
  }
}
.home-container .wrapper .home .full-width-sm .text-container.sponsor .logo-vitaal-vechtdal {
  float: left;
}
.home-container .wrapper .home .full-width-sm .row {
  width: auto;
  text-align: center;
  margin: 0px 10px 0px 10px;
}
@media (max-width: 480px) {
  .home-container .wrapper .home .full-width-sm .row {
    margin: 0px 10px 0px 10px;
  }
}
.home-container .wrapper .home .full-width-sm .row .column-question {
  float: left;
  margin: 0px auto;
  padding: 0;
  text-align: center;
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  width: 50%;
}
@media (min-width: 768px) {
  .home-container .wrapper .home .full-width-sm .row .column-question {
    width: 50%;
  }
}
@media (max-width: 768px) {
  .home-container .wrapper .home .full-width-sm .row .column-question {
    position: relative;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
  }
}
@media (max-width: 768px) and (min-width: 768px) {
  .home-container .wrapper .home .full-width-sm .row .column-question {
    width: 100%;
  }
}
.home-container .wrapper .home .full-width-sm .row .column-question .question h3 {
  margin: 0 auto;
  padding: 0px;
}
.home-container .wrapper .home .full-width-sm .row .column-question .question .btn-answer h3 {
  color: #191919;
}
.login-container {
  width: 100%;
  height: 100%;
  text-align: center;
  margin: 0 auto;
  padding: 0px;
  box-sizing: border-box;
}
.login-container .wrapper {
  width: 100%;
  box-sizing: border-box;
}
.login-container .wrapper .login {
  box-sizing: border-box;
  width: 100%;
}
@media (max-width: 768px) {
  .login-container .wrapper .login {
    width: auto;
  }
}
.login-container .wrapper .login .full-width-sm {
  width: 100%;
  text-align: center;
}
.login-container .wrapper .login .full-width-sm .row {
  width: auto;
  text-align: center;
  margin: 30px 10px 0px 10px;
}
.login-container .wrapper .login .full-width-sm .row .column-button {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  margin-left: 25%;
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  width: 50%;
}
@media (min-width: 768px) {
  .login-container .wrapper .login .full-width-sm .row .column-button {
    width: 50%;
  }
}
@media (max-width: 768px) {
  .login-container .wrapper .login .full-width-sm .row .column-button {
    margin-left: 0px;
    position: relative;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
  }
}
@media (max-width: 768px) and (min-width: 768px) {
  .login-container .wrapper .login .full-width-sm .row .column-button {
    width: 100%;
  }
}
.login-container .wrapper .login button {
  width: 340px;
}
@media (max-width: 480px) {
  .login-container .wrapper .login button {
    width: 100%;
  }
}
.login-container .wrapper .login form {
  margin: 0px auto;
}
.login-container .wrapper .login form fieldset input {
  width: 340px;
  margin: 5px 10px;
  padding: 8px 17px 8px 17px;
  background: none;
  border: 3px solid #ffffff;
  color: #ffffff;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  text-transform: uppercase;
  font-size: 13pt;
}
@media (max-width: 480px) {
  .login-container .wrapper .login form fieldset input {
    margin: 0;
    width: 100%;
  }
}
.login-container .wrapper .login .question.alert {
  border: 3px solid #dd0000;
}
.login-container .wrapper .login .question.alert p {
  color: #dd0000;
}
.user-container {
  width: 100%;
  height: 100%;
  text-align: center;
  margin: 0 auto;
  padding: 0px;
  box-sizing: border-box;
}
.user-container .wrapper {
  width: 100%;
}
.user-container .wrapper .user {
  padding: 120px 0px 100px 0px;
}
@media (max-width: 480px) {
  .user-container .wrapper .user {
    padding: 120px 0px 80px 0px;
  }
}
.user-container .wrapper .user h1 {
  text-align: center;
}
.user-container .wrapper .user.opinion .full-width-sm .form-container .row h1 {
  text-align: left;
}
.user-container .wrapper .user.opinion .full-width-sm .form-container .row .column-button {
  margin: 30px 10px;
}
@media (max-width: 768px) {
  .user-container .wrapper .user.opinion .full-width-sm .form-container .row .column-button {
    position: relative;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
    width: 50%;
  }
}
@media (max-width: 768px) and (min-width: 768px) {
  .user-container .wrapper .user.opinion .full-width-sm .form-container .row .column-button {
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .user-container .wrapper .user.opinion .full-width-sm .form-container .row .column-button {
    position: relative;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
    width: 50%;
  }
}
@media (min-width: 1200px) and (min-width: 768px) {
  .user-container .wrapper .user.opinion .full-width-sm .form-container .row .column-button {
    width: 50%;
  }
}
.user-container .wrapper .user .full-width-sm {
  width: 100%;
  text-align: center;
}
.user-container .wrapper .user .full-width-sm .image-container {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 120%;
  margin: 0 auto;
  overflow: hidden;
}
@media (max-width: 480px) {
  .user-container .wrapper .user .full-width-sm .image-container {
    height: 150%;
  }
}
@media (min-width: 992px) {
  .user-container .wrapper .user .full-width-sm .image-container {
    height: 105%;
  }
}
.user-container .wrapper .user .full-width-sm .image-container img {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 120%;
  height: 120%;
  margin: 0 auto;
}
.user-container .wrapper .user .full-width-sm .gradient-container {
  content: '';
  position: absolute;
  top: 103px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 110%;
  background-color: rgba(0, 0, 0, 0.4);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
}
@media (max-width: 480px) {
  .user-container .wrapper .user .full-width-sm .gradient-container {
    top: 90px;
    height: 130%;
  }
}
@media (min-width: 992px) {
  .user-container .wrapper .user .full-width-sm .gradient-container {
    height: 100%;
  }
}
.user-container .wrapper .user .full-width-sm .form-container {
  position: relative;
  width: 100%;
  margin: 0 auto;
}
@media (min-width: 1200px) {
  .user-container .wrapper .user .full-width-sm .form-container {
    width: 1200px;
  }
}
.user-container .wrapper .user .full-width-sm .form-container .row {
  width: auto;
  text-align: center;
  margin: 10px auto;
}
.user-container .wrapper .user .full-width-sm .form-container .row p {
  text-transform: none;
  font-size: 12pt;
  margin: 10px 20px;
}
.user-container .wrapper .user .full-width-sm .form-container .row .btn-answer p {
  font-size: 10pt;
  margin: 0px;
  padding: 10px 0px;
}
@media (max-width: 320px) {
  .user-container .wrapper .user .full-width-sm .form-container .row h1 {
    font-size: 18pt;
    margin: 0 15px;
  }
}
.user-container .wrapper .user .full-width-sm .form-container .row .column-button {
  margin: 30px 25%;
  padding: 0;
  text-align: center;
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  width: 75%;
}
@media (min-width: 768px) {
  .user-container .wrapper .user .full-width-sm .form-container .row .column-button {
    width: 75%;
  }
}
@media (max-width: 768px) {
  .user-container .wrapper .user .full-width-sm .form-container .row .column-button {
    margin: 30px auto;
    position: relative;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
    width: 75%;
  }
}
@media (max-width: 768px) and (min-width: 768px) {
  .user-container .wrapper .user .full-width-sm .form-container .row .column-button {
    width: 75%;
  }
}
@media (max-width: 768px) {
  .user-container .wrapper .user .full-width-sm .form-container .row .column-button {
    margin: 30px auto;
    position: relative;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
    width: 75%;
  }
}
@media (max-width: 768px) and (min-width: 768px) {
  .user-container .wrapper .user .full-width-sm .form-container .row .column-button {
    width: 75%;
  }
}
@media (max-width: 480px) {
  .user-container .wrapper .user .full-width-sm .form-container .row .column-button {
    margin: 30px auto;
    position: relative;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    padding-left: 20px;
  }
}
@media (max-width: 480px) and (min-width: 768px) {
  .user-container .wrapper .user .full-width-sm .form-container .row .column-button {
    width: 100%;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .user-container .wrapper .user .full-width-sm .form-container .row .column-button {
    margin: 30px auto;
    position: relative;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
    width: 83.33333333%;
  }
}
@media (min-width: 480px) and (max-width: 768px) and (min-width: 768px) {
  .user-container .wrapper .user .full-width-sm .form-container .row .column-button {
    width: 83.33333333%;
  }
}
@media (min-width: 768px) {
  .user-container .wrapper .user .full-width-sm .form-container .row .column-button {
    margin: 30px auto;
    position: relative;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
    width: 75%;
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .user-container .wrapper .user .full-width-sm .form-container .row .column-button {
    width: 75%;
  }
}
@media (min-width: 992px) {
  .user-container .wrapper .user .full-width-sm .form-container .row .column-button {
    margin: 30px auto;
    position: relative;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
    width: 50%;
  }
}
@media (min-width: 992px) and (min-width: 768px) {
  .user-container .wrapper .user .full-width-sm .form-container .row .column-button {
    width: 50%;
  }
}
.user-container .wrapper .user .full-width-sm .form-container .row .column-button form {
  margin: 0;
  padding: 0;
}
.user-container .wrapper .user .full-width-sm .form-container .row .column-button form fieldset {
  margin: 0;
  padding: 0;
  text-align: center;
}
.user-container .wrapper .user .full-width-sm .form-container .row .column-button form fieldset .field-container {
  float: left;
  margin: 0px auto 10px;
  width: 100%;
}
@media (max-width: 480px) {
  .user-container .wrapper .user .full-width-sm .form-container .row .column-button form fieldset .field-container {
    width: 100%;
  }
}
.user-container .wrapper .user .full-width-sm .form-container .row .column-button form fieldset .field-container .icon-field {
  position: relative;
  float: left;
  margin-right: 20px;
}
.user-container .wrapper .user .full-width-sm .form-container .row .column-button form fieldset .field-container .icon-field .icon {
  margin: 3px 0;
}
.user-container .wrapper .user .full-width-sm .form-container .row .column-button form fieldset .field-container .gender-button {
  position: relative;
  float: left;
  margin: 0px 0px 0px 10px;
  padding: 12px 17px 12px 17px;
  background: rgba(0, 0, 0, 0.22);
  border: 3px solid #ffffff;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  width: 39.2%;
  width: calc(50% - 50px);
}
@media (max-width: 480px) {
  .user-container .wrapper .user .full-width-sm .form-container .row .column-button form fieldset .field-container .gender-button {
    width: 36.4%;
    width: calc(100% - 90px);
  }
}
@media (max-width: 480px) {
  .user-container .wrapper .user .full-width-sm .form-container .row .column-button form fieldset .field-container .gender-button.female {
    margin: 10px 0px 0px 78px;
  }
}
.user-container .wrapper .user .full-width-sm .form-container .row .column-button form fieldset .field-container .gender-button span {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 13pt;
  font-weight: 900;
}
.user-container .wrapper .user .full-width-sm .form-container .row .column-button form fieldset .field-container .gender-button.active {
  background: #FFFF00;
  border: 3px solid #FFFF00;
}
.user-container .wrapper .user .full-width-sm .form-container .row .column-button form fieldset .field-container .gender-button.active span {
  color: #000000;
}
@media (max-width: 320px) {
  .user-container .wrapper .user .full-width-sm .form-container .row .column-button form fieldset .field-container .gender-button span {
    font-size: 12pt;
  }
}
.user-container .wrapper .user .full-width-sm .form-container .row .column-button form fieldset .field-container input {
  position: relative;
  float: left;
  margin: 1px 10px;
  padding: 12px 17px 12px 17px;
  background: rgba(0, 0, 0, 0.22);
  border: 3px solid #ffffff;
  color: #ffffff;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  text-transform: uppercase;
  font-size: 13pt;
  font-weight: 900;
  resize: none;
  width: 80%;
  width: calc(100% - 90px);
}
@media (max-width: 320px) {
  .user-container .wrapper .user .full-width-sm .form-container .row .column-button form fieldset .field-container input {
    font-size: 12pt;
  }
}
@media (max-width: 480px) {
  .user-container .wrapper .user .full-width-sm .form-container .row .column-button form fieldset .field-container input {
    width: 75%;
    width: calc(100% - 90px);
  }
}
.user-container .wrapper .user .full-width-sm .form-container .row .column-button form fieldset .textarea-container {
  display: inline-block;
  position: relative;
  float: none;
  margin: 5px auto;
  width: 100%;
}
.user-container .wrapper .user .full-width-sm .form-container .row .column-button form fieldset .textarea-container textarea {
  position: relative;
  float: left;
  width: 100%;
  height: 140px;
  margin: 0px;
  padding: 8px 17px 8px 17px;
  background: none;
  border: 3px solid #ffffff;
  color: #ffffff;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  text-transform: uppercase;
  font-size: 13pt;
  font-weight: 900;
}
@media (max-width: 480px) {
  .user-container .wrapper .user .full-width-sm .form-container .row .column-button form fieldset .textarea-container textarea {
    width: 100%;
    margin: 0px auto;
  }
}
@media (min-width: 480px) and (max-width: 992px) {
  .user-container .wrapper .user .full-width-sm .form-container .row .column-button form fieldset .textarea-container textarea {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .user-container .wrapper .user .full-width-sm .form-container .row .column-button form fieldset .textarea-container textarea {
    width: 70%;
  }
}
@media (max-width: 320px) {
  .user-container .wrapper .user .full-width-sm .form-container .row .column-button form fieldset .textarea-container textarea {
    font-size: 12pt;
  }
}
.statement-container {
  width: 100%;
  height: 100%;
  text-align: center;
  margin: 0 auto;
  padding: 0px;
  box-sizing: border-box;
}
.statement-container .wrapper {
  width: 100%;
}
.statement-container .wrapper .statement-wrapper {
  width: 100%;
  padding: 0;
}
.statement-container .wrapper .statement-wrapper #tinderslide {
  position: absolute;
  background: #191919;
  width: 100%;
  height: 100%;
}
.statement-container .wrapper .statement-wrapper #tinderslide ul {
  margin: 0;
  padding: 0;
}
.statement-container .wrapper .statement-wrapper #tinderslide ul li {
  margin: 0;
  padding: 0;
}
.statement-container .wrapper .statement-wrapper #tinderslide ul li .statement {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 103px 0px 68px;
  overflow: hidden;
  overflow-y: auto;
}
@media (max-width: 320px) {
  .statement-container .wrapper .statement-wrapper #tinderslide ul li .statement {
    padding: 90px 0px 68px;
  }
}
.statement-container .wrapper .statement-wrapper #tinderslide ul li .statement .image-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  overflow: hidden;
}
.statement-container .wrapper .statement-wrapper #tinderslide ul li .statement .image-container img {
  position: absolute;
  top: 30px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-position: center center !important;
}
.statement-container .wrapper .statement-wrapper #tinderslide ul li .statement .gradient-container {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 460px;
  background-color: rgba(0, 0, 0, 0.65);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.65)), to(rgba(0, 0, 0, 0)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0));
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0));
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0));
}
.statement-container .wrapper .statement-wrapper #tinderslide ul li .statement .text-container {
  position: relative;
  float: left;
  margin-top: 60px;
  padding: 0px 10px;
}
@media (max-width: 480px) {
  .statement-container .wrapper .statement-wrapper #tinderslide ul li .statement .text-container {
    margin-top: 40px;
  }
}
.statement-container .wrapper .statement-wrapper #tinderslide ul li .statement .text-container h1 {
  cursor: default;
}
@media (max-width: 480px) {
  .statement-container .wrapper .statement-wrapper #tinderslide ul li .statement .text-container h1 {
    font-size: 22pt;
    margin: 0px 30px 5px 5px;
    line-height: 1.1em;
    padding: 0;
  }
}
@media (max-width: 320px) {
  .statement-container .wrapper .statement-wrapper #tinderslide ul li .statement .text-container h1 {
    font-size: 16pt;
    margin: 0px 5px;
  }
}
.statement-container .wrapper .statement-wrapper #tinderslide ul li .statement ul {
  position: relative;
  float: left;
  width: 100%;
  margin: 30px 10px;
  padding: 0px 0px 100px;
}
@media (max-width: 480px) {
  .statement-container .wrapper .statement-wrapper #tinderslide ul li .statement ul {
    margin: 10px auto;
  }
}
.statement-container .wrapper .statement-wrapper #tinderslide ul li .statement ul li {
  position: relative;
  float: left;
  width: 100%;
  text-align: left;
  line-height: 1.6em;
  text-shadow: none;
  background: none;
  box-shadow: none;
}
.statement-container .wrapper .statement-wrapper #tinderslide ul li .statement ul li h2 {
  position: relative;
  float: left;
  width: auto;
  font-size: 18pt;
  margin: 10px 20px 5px 20px;
  padding: 4px 5px;
  background-color: #ffffff;
  color: #000000;
  cursor: pointer;
}
.statement-container .wrapper .statement-wrapper #tinderslide ul li .statement ul li h2.selected {
  background-color: #FFFF00;
  color: #000000;
}
@media (max-width: 768px) {
  .statement-container .wrapper .statement-wrapper #tinderslide ul li .statement ul li h2 {
    font-size: 15pt;
  }
}
@media (max-width: 480px) {
  .statement-container .wrapper .statement-wrapper #tinderslide ul li .statement ul li h2 {
    font-size: 13pt;
    line-height: 1.1em;
  }
}
@media (max-width: 320px) {
  .statement-container .wrapper .statement-wrapper #tinderslide ul li .statement ul li h2 {
    font-size: 11pt;
  }
}
.statement-container .wrapper .statement-wrapper #tinderslide ul li .statement .info-container {
  position: absolute;
  top: 120px;
  right: 30px;
}
@media (max-width: 320px) {
  .statement-container .wrapper .statement-wrapper #tinderslide ul li .statement .info-container {
    top: 112px;
    right: 16px;
  }
}
.statement-container .wrapper .statement-wrapper .statement-complete {
  position: absolute;
  left: 0px;
  right: 0px;
  background-color: #191919;
  overflow: hidden;
}
.statement-container .wrapper .statement-wrapper .statement-complete h3 {
  margin: 50px 50px;
}
@media (min-width: 480px) {
  .statement-container .wrapper .statement-wrapper .statement-complete h3 {
    font-size: 24pt;
  }
}
@media (min-width: 768px) {
  .statement-container .wrapper .statement-wrapper .statement-complete h3 {
    font-size: 30pt;
  }
}
@media (min-width: 992px) {
  .statement-container .wrapper .statement-wrapper .statement-complete h3 {
    font-size: 36pt;
  }
}
.result-container {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding: 0px;
  box-sizing: border-box;
}
.result-container .wrapper {
  width: 100%;
}
.result-container .wrapper .result {
  width: 100%;
  padding: 105px 0px 0px 0px;
}
.result-container .wrapper .result.no-padding {
  padding: 105px 0px 0px 0px;
}
.result-container .wrapper .result .full-width-sm {
  width: 100%;
  text-align: center;
  box-sizing: border-box;
}
.result-container .wrapper .result .full-width-sm .row {
  position: relative;
  width: 100%;
  margin: 0px auto;
  padding: 5px;
}
.result-container .wrapper .result .full-width-sm .row p.text {
  text-transform: none;
  font-size: 12pt;
  margin: 10px 20px;
  padding-bottom: 10px;
}
.result-container .wrapper .result .full-width-sm .row p.text.white {
  color: #191919;
}
@media (min-width: 1200px) {
  .result-container .wrapper .result .full-width-sm .row p.text {
    font-size: 14pt;
  }
}
.result-container .wrapper .result .full-width-sm .row h1,
.result-container .wrapper .result .full-width-sm .row h2 {
  margin: 20px;
  padding: 0px;
}
.result-container .wrapper .result .full-width-sm .row h2 {
  margin: 20px;
  color: #FFFF00;
}
.result-container .wrapper .result .full-width-sm .row a {
  margin: 20px 0;
  padding: 0;
  color: #FFFF00;
}
.result-container .wrapper .result .full-width-sm .row h3 {
  margin: 20px;
  padding: 0px;
}
.result-container .wrapper .result .full-width-sm .row.home-background {
  background-color: #FFFF00;
}
.result-container .wrapper .result .full-width-sm .row.home-background .icon {
  float: left;
  width: 160px;
  height: 160px;
  margin: 40px;
}
@media (max-width: 480px) {
  .result-container .wrapper .result .full-width-sm .row.home-background .icon {
    float: none;
  }
}
@media (max-width: 768px) {
  .result-container .wrapper .result .full-width-sm .row.home-background .icon {
    margin: 20px;
  }
}
.result-container .wrapper .result .full-width-sm .row.home-background .text {
  float: left;
}
@media (max-width: 480px) {
  .result-container .wrapper .result .full-width-sm .row.home-background .text {
    width: 100%;
  }
}
.result-container .wrapper .result .full-width-sm .row.home-background h1,
.result-container .wrapper .result .full-width-sm .row.home-background h2 {
  color: #000000;
}
.result-container .wrapper .result .full-width-sm .row.home-background h1 {
  top: 50%;
  margin-top: 20%;
  font-family: Avenir-Black, sans-serif;
  font-size: 38pt;
}
@media (max-width: 480px) {
  .result-container .wrapper .result .full-width-sm .row.home-background h1 {
    margin-top: 0;
    text-align: center;
  }
}
@media (max-width: 480px) {
  .result-container .wrapper .result .full-width-sm .row.home-background h1 {
    margin-top: 0;
    text-align: center;
    font-size: 24pt;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .result-container .wrapper .result .full-width-sm .row.home-background h1 {
    margin-top: 25%;
    text-align: left;
    font-size: 26pt;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .result-container .wrapper .result .full-width-sm .row.home-background h1 {
    margin-top: 20%;
    text-align: left;
  }
}
.result-container .wrapper .result .full-width-sm .row.home-background h2 {
  font-size: 16pt;
  font-family: Avenir-Light, sans-serif;
}
@media (max-width: 480px) {
  .result-container .wrapper .result .full-width-sm .row.home-background h2 {
    text-align: center;
  }
}
.result-container .wrapper .result .full-width-sm .row.background {
  background-color: #000000;
}
.result-container .wrapper .result .full-width-sm .row.background h3 {
  text-transform: none;
  font-family: Avenir-Light, sans-serif;
}
.result-container .wrapper .result .full-width-sm .row.white {
  background-color: #ffffff;
  padding-bottom: 80px;
}
.result-container .wrapper .result .full-width-sm .row.white .result-block {
  float: left;
  width: 100%;
}
.result-container .wrapper .result .full-width-sm .row.white .result-block .result-block-icon {
  float: left;
  width: 140px;
}
.result-container .wrapper .result .full-width-sm .row.white .result-block .result-block-icon .icon {
  float: left;
  width: 100px;
  height: 100px;
  margin: 20px;
}
@media (max-width: 320px) {
  .result-container .wrapper .result .full-width-sm .row.white .result-block .result-block-icon {
    width: 130px;
  }
}
.result-container .wrapper .result .full-width-sm .row.white .result-block .result-block-text {
  float: left;
}
.result-container .wrapper .result .full-width-sm .row.white .result-block .result-block-text .text {
  float: left;
  width: 100%;
}
.result-container .wrapper .result .full-width-sm .row.white .result-block .result-block-text .text h1,
.result-container .wrapper .result .full-width-sm .row.white .result-block .result-block-text .text h2,
.result-container .wrapper .result .full-width-sm .row.white .result-block .result-block-text .text h3 {
  margin: 0px;
}
@media (max-width: 480px) {
  .result-container .wrapper .result .full-width-sm .row.white .result-block .result-block-text .text h3 {
    font-size: 11pt;
  }
}
.result-container .wrapper .result .full-width-sm .row.white .result-block .result-block-text .text h2 {
  margin-top: 30px;
}
.result-container .wrapper .result .full-width-sm .row.white .result-block .result-block-text .votes {
  position: relative;
  float: left;
  width: 100%;
  min-height: 16px;
  margin: 5px 0px;
  padding: 0px;
}
.result-container .wrapper .result .full-width-sm .row.white .result-block .result-block-text .votes .row {
  width: 100%;
  margin: 0px auto;
  padding: 0;
}
.result-container .wrapper .result .full-width-sm .row.white .result-block .result-block-text .votes .row .total {
  position: absolute;
  left: 0px;
  width: 100%;
  height: 16px;
  margin: 0 auto;
  background-color: #ffffff;
}
.result-container .wrapper .result .full-width-sm .row.white .result-block .result-block-text .votes .row .percentage {
  position: absolute;
  left: 0px;
  height: 16px;
  margin: 0 auto;
  background-color: #000000;
}
.result-container .wrapper .result .full-width-sm .row.white .result-block .result-block-text .votes .row p {
  position: absolute;
  color: #000000;
  top: 0px;
  padding-left: 6px;
  font-size: 11pt;
}
.result-container .wrapper .result .full-width-sm .row.white h1,
.result-container .wrapper .result .full-width-sm .row.white h2,
.result-container .wrapper .result .full-width-sm .row.white h3 {
  color: #000000;
  margin: 20px;
}
.result-container .wrapper .result .full-width-sm .row.white h2 {
  margin-top: 30px;
}
.result-container .wrapper .result .full-width-sm .row .social-container .social-wrapper {
  text-align: left;
}
.result-container .wrapper .result .full-width-sm .row .social-container .social-wrapper .icon {
  width: 60px;
  height: 60px;
}
.result-container .wrapper .result .full-width-sm .row .social-container .social-wrapper .share-title {
  display: none;
}
@media (max-width: 320px) {
  .result-container .wrapper .result .full-width-sm .row.info h1 {
    font-size: 18pt;
  }
  .result-container .wrapper .result .full-width-sm .row.info h2 {
    font-size: 14pt;
  }
}
.result-container .wrapper .result .full-width-sm .row.info h2 {
  position: relative;
  float: left;
  padding: 30px 0px;
}
.result-container .wrapper .result .full-width-sm .row.info a {
  margin: 0px;
}
.election-container {
  width: 100%;
  height: 100%;
  text-align: center;
  margin: 0 auto;
  padding: 0px;
  box-sizing: border-box;
}
.election-container .wrapper {
  width: 100%;
}
.election-container .wrapper .election {
  width: 100%;
}
.election-container .wrapper .election .full-width-sm {
  width: 100%;
  text-align: center;
}
.election-container .wrapper .election .full-width-sm #tinderslide {
  position: absolute;
  background: #191919;
  width: 100%;
  height: 100%;
}
.election-container .wrapper .election .full-width-sm #tinderslide .info-container {
  position: absolute;
  top: 130px;
  right: 30px;
}
@media (max-width: 320px) {
  .election-container .wrapper .election .full-width-sm #tinderslide .info-container {
    top: 115px;
    right: 10px;
  }
}
.election-container .wrapper .election .full-width-sm #tinderslide .image-container {
  position: absolute;
  top: 103px;
  left: 0px;
  right: 0px;
  bottom: 142px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
@media (max-width: 320px) {
  .election-container .wrapper .election .full-width-sm #tinderslide .image-container {
    bottom: 105px;
  }
}
.election-container .wrapper .election .full-width-sm #tinderslide .image-container img {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.election-container .wrapper .election .full-width-sm #tinderslide .gradient-container {
  content: '';
  position: absolute;
  top: 103px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.3);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
}
@media (max-width: 320px) {
  .election-container .wrapper .election .full-width-sm #tinderslide .gradient-container {
    top: 90px;
  }
}
.election-container .wrapper .election .full-width-sm #tinderslide ul {
  margin: 0;
  padding: 0;
}
.election-container .wrapper .election .full-width-sm #tinderslide ul li {
  margin: 0;
  padding: 0;
}
.election-container .wrapper .election .full-width-sm #tinderslide ul li .text-container {
  position: absolute;
  top: 170px;
  padding: 0px 10px;
  width: 100%;
}
@media (max-width: 320px) {
  .election-container .wrapper .election .full-width-sm #tinderslide ul li .text-container {
    top: 120px;
  }
  .election-container .wrapper .election .full-width-sm #tinderslide ul li .text-container h1 {
    font-size: 14pt;
    margin: 0px 30px 5px 5px;
    line-height: 1.1em;
  }
}
.bullet-bar-container {
  width: 100%;
  height: 29px;
  margin: 6px auto 0px;
  box-sizing: border-box;
}
.bullet-bar-container .bullet-bread-bar {
  background: #000000;
  margin-left: 0;
  -webkit-transition: margin-left 1s;
  /* For Safari 3.1 to 6.0 */
  -moz-transition: margin-left 1s;
  /* Mozilla */
  -o-transition: margin-left 1s;
  /* Opera */
  transition: margin-left 1s;
  padding-left: 10px;
}
@media (max-width: 992px) {
  .bullet-bar-container .bullet-bread-bar {
    padding-left: 10px;
  }
}
@media (max-width: 480px) {
  .bullet-bar-container .bullet-bread-bar {
    padding-left: 5px;
  }
}
.bullet-bar-container .bullet-bread-bar .bullet-step {
  float: left;
  margin: 0px;
  height: 29px;
  background: #000000;
}
.bullet-bar-container .bullet-bread-bar .bullet-step .bullet-bar-line {
  position: absolute;
  margin-left: 20px;
  height: 2px;
  top: 79px;
  background: #FFFF00;
  -webkit-transition: width 1s;
  /* For Safari 3.1 to 6.0 */
  -moz-transition: width 1s;
  /* Mozilla */
  -o-transition: width 1s;
  /* Opera */
  transition: width 1s;
}
@media (max-width: 320px) {
  .bullet-bar-container .bullet-bread-bar .bullet-step .bullet-bar-line {
    top: 60px;
  }
}
.bullet-bar-container .bullet-bread-bar .bullet-step .bullet-circle {
  position: absolute;
  float: left;
  margin: 8px 0px 0px 10px;
  background: #FFFF00;
  height: 15px;
  width: 15px;
  border-radius: 7.5px;
  -webkit-border-radius: 7.5px;
  -moz-border-radius: 7.5px;
  border-top-left-radius: 7.5px;
  border-top-right-radius: 7.5px;
  border-bottom-left-radius: 7.5px;
  border-bottom-right-radius: 7.5px;
}
@media (max-width: 320px) {
  .bullet-bar-container .bullet-bread-bar .bullet-step .bullet-circle {
    height: 12px;
    width: 12px;
    margin: 10px 0px 0px 10px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
  }
}
.bullet-bar-container .bullet-bread-bar .bullet-step .bullet-circle.bullet-inactive {
  display: none;
}
.bullet-bar-container .bullet-bread-bar .bullet-step .bullet-circle.bullet-active {
  width: 28px;
  height: 28px;
  margin: 0px 0px 0px 4px;
  border-radius: 14.5px;
  -webkit-border-radius: 14.5px;
  -moz-border-radius: 14.5px;
  border-top-left-radius: 14.5px;
  border-top-right-radius: 14.5px;
  border-bottom-left-radius: 14.5px;
  border-bottom-right-radius: 14.5px;
}
@media (max-width: 320px) {
  .bullet-bar-container .bullet-bread-bar .bullet-step .bullet-circle.bullet-active {
    width: 26px;
    height: 26px;
    margin: 3px 0px 0px 3px;
    border-radius: 13px;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
  }
}
.bullet-bar-container .bullet-bread-bar .bullet-step .bullet-circle.bullet-center {
  margin: 2px 0 0 6px;
  border: 5px solid #000000;
  background: #ffffff;
  box-sizing: content-box;
  height: 14px;
  width: 14px;
  border-radius: 13px;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
}
@media (max-width: 320px) {
  .bullet-bar-container .bullet-bread-bar .bullet-step .bullet-circle.bullet-center {
    width: 12px;
    height: 12px;
    margin: 5px 0px 0px 5px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
  }
}
.bullet-bar-container .broken-line {
  position: absolute;
  top: 0px;
}
.bullet-bar-container .broken-line .icon-broken-line {
  display: none;
  position: absolute;
  top: 66px;
  left: 0px;
  background-color: #000000;
  fill: #FFFF00;
  width: 42px;
  height: 42px;
}
@media (max-width: 320px) {
  .bullet-bar-container .broken-line .icon-broken-line {
    top: 47px !important;
  }
}
@media all and (max-width: 768px) {
  .bullet-bar-container .broken-line .icon-broken-line {
    display: block;
    width: 67px;
    height: 28px;
    margin-left: -25px;
  }
}
.count-container {
  position: relative;
  float: right;
  margin: 0px 20px 0px 0px;
}
.count-container p {
  color: #ffffff;
  font-size: 9pt;
  font-weight: 700;
  margin: 0;
  padding: 0;
}
.popup-container {
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding: 0px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.22);
}
.popup-container.popup {
  background: none;
  bottom: auto;
}
.popup-container .wrapper {
  width: 100%;
}
.popup-container .wrapper .popup {
  margin: 0px auto;
  box-sizing: border-box;
}
.popup-container .wrapper .popup h1,
.popup-container .wrapper .popup h2,
.popup-container .wrapper .popup h3,
.popup-container .wrapper .popup p {
  color: #191919;
  margin: 10px 0px;
}
.popup-container .wrapper .popup .description-container {
  position: absolute;
  top: 126px;
  right: 20px;
  left: 20px;
  margin: 0 auto;
  padding: 0px 40px;
  overflow: hidden;
  overflow-y: auto;
  background-color: #ffffff;
  z-index: 9999;
}
@media (max-width: 768px) {
  .popup-container .wrapper .popup .description-container {
    right: 10px;
    left: 10px;
    padding: 0px 30px;
  }
}
@media (max-width: 480px) {
  .popup-container .wrapper .popup .description-container {
    top: 112px;
    right: 0px;
    left: 0px;
    padding: 0px 20px 40px;
  }
}
@media (max-width: 320px) {
  .popup-container .wrapper .popup .description-container {
    top: 90px;
    padding: 0px 15px 30px;
  }
}
.popup-container .wrapper .popup .description-container h3 {
  color: #191919;
  margin: 0 auto;
  padding-bottom: 20px;
}
.popup-container .wrapper .popup .description-container .icon-close {
  right: -30px;
}
@media (max-width: 480px) {
  .popup-container .wrapper .popup .description-container .icon-close {
    right: -15px;
  }
}
.popup-container .wrapper .popup .description-container .title {
  float: left;
  width: 100%;
  margin: 0 auto;
  padding-top: 40px;
}
@media (max-width: 768px) {
  .popup-container .wrapper .popup .description-container .title {
    padding-top: 30px;
  }
}
@media (max-width: 480px) {
  .popup-container .wrapper .popup .description-container .title {
    padding-top: 20px;
  }
}
@media (max-width: 320px) {
  .popup-container .wrapper .popup .description-container .title {
    padding-top: 15px;
  }
}
.popup-container .wrapper .popup .description-container .title h1 {
  float: left;
  margin: 0px 0px 10px;
}
@media (max-width: 480px) {
  .popup-container .wrapper .popup .description-container .title h1 {
    font-size: 16pt;
  }
}
.popup-container .wrapper .popup .description-container .text {
  float: left;
  width: 100%;
  margin: 0px auto;
  padding: 0 0 60px;
  text-align: left;
}
@media (max-width: 480px) {
  .popup-container .wrapper .popup .description-container .text {
    padding-bottom: 48px;
  }
}
.popup-container .wrapper .popup .description-container .text p {
  position: relative;
  float: left;
  font-family: Avenir-Light, sans-serif;
  display: inline-block;
  background: none;
  text-transform: none;
  color: #191919;
  margin: 0 auto;
  padding: 0 0 60px;
  line-height: 2;
  font-weight: bold;
  font-size: 14pt;
}
@media (max-width: 768px) {
  .popup-container .wrapper .popup .description-container .text p {
    font-size: 14pt;
    line-height: 1.6;
  }
}
@media (max-width: 480px) {
  .popup-container .wrapper .popup .description-container .text p {
    font-size: 12pt;
    line-height: 1.4;
    padding-bottom: 48px;
  }
}
.popup-container .wrapper .popup .description-container .text a {
  font-family: Avenir-Roman, sans-serif;
  background: none;
  color: #191919;
  text-transform: none;
  padding: 0;
  margin: 0;
  font-weight: bold;
  line-height: 1.4;
  font-size: 14pt;
}
@media (max-width: 768px) {
  .popup-container .wrapper .popup .description-container .text a {
    font-size: 14pt;
    line-height: 1.6;
  }
}
@media (max-width: 480px) {
  .popup-container .wrapper .popup .description-container .text a {
    font-size: 12pt;
    line-height: 1.2;
  }
}
.popup-container .wrapper .popup .description-container .text.info {
  padding-top: 30px;
}
.popup-container .wrapper .popup .description-container .text.info h3 {
  position: relative;
  float: left;
  font-family: Avenir-Light, sans-serif;
  display: inline-block;
  background: none;
  text-transform: none;
  color: #191919;
  margin: 0 auto;
  padding: 0;
  line-height: 1.4;
  font-weight: 700;
  font-size: 14pt;
}
.popup-container .wrapper .popup .description-container .text.info p {
  padding-bottom: 20px;
}
@media (max-width: 480px) {
  .popup-container .wrapper .popup .description-container .text.info p {
    padding-bottom: 10px;
  }
}
.popup-container .wrapper .post-container {
  position: fixed;
  bottom: 172px;
  right: 72px;
  width: 68%;
  padding: 40px;
  background-color: #ffffff;
  text-align: left;
}
.popup-container .wrapper .post-container .btn-popup {
  position: absolute;
  right: 5px;
  top: 5px;
  margin: 5px;
}
@media (max-width: 480px) {
  .popup-container .wrapper .post-container {
    position: fixed;
    bottom: 140px;
    left: 0px;
    right: 0px;
    width: 100%;
  }
}
.popup-container .wrapper .post-container .text {
  margin: 5px auto;
}
.popup-container .wrapper .post-container .text h3 {
  color: #dd0000;
  margin: 0 auto;
}
.popup-container .wrapper .post-container .text .social-user {
  margin: 10px auto;
}
.popup-container .wrapper .post-container .text .social-user .row {
  margin: 10px auto;
}
.popup-container .wrapper .post-container .text .social-user .image-container {
  position: absolute;
}
.popup-container .wrapper .post-container .text .social-user .image-container img {
  position: relative;
  float: left;
  width: 30px;
  height: 30px;
}
.popup-container .wrapper .post-container .text .social-user p {
  position: relative;
  float: left;
  background-color: #dd0000;
  color: #ffffff;
  font-size: 10pt;
  text-transform: none;
  padding: 6px 0px 5px 0px;
  margin: 0px auto;
  line-height: 1.4;
  width: 100%;
}
.popup-container .wrapper .post-container .text .social-user p.image {
  padding: 6px 0px 5px 40px;
}
.popup-container .wrapper .post-container .text .social-user span {
  position: relative;
  float: left;
  background: none;
  color: #191919;
  font-size: 11pt;
  text-transform: uppercase;
  padding: 0px 6px 0px 0px;
  margin: 0px auto;
  line-height: 1.4;
  width: 100%;
}
.popup-container .wrapper .post-container .text .social-user span.image {
  padding: 0px 6px 0px 40px;
}
.popup-container .wrapper .post-container .text .social-user textarea {
  background: none;
  color: #191919;
  font-size: 10pt;
  text-transform: none;
  padding: 5px 6px;
  margin: 10px auto;
  line-height: 1.4;
  height: 90px;
}
.popup-container .wrapper .post-container button {
  border: 1px solid #dd0000;
  margin: 0 auto;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.popup-container .wrapper .post-container button span {
  color: #dd0000;
  margin: 0px;
  padding: 8px 2px;
  font-size: 12pt;
}
.result-bars {
  display: block;
}
@media screen and (max-width: 768px) {
  .result-bars {
    display: none;
  }
}
.result-bars.mobile {
  display: none;
}
@media screen and (max-width: 768px) {
  .result-bars.mobile {
    display: block;
  }
}
.result-bars-container {
  height: 380px;
  width: 100%;
  padding: 20px 50px;
  margin-left: 410px;
  box-sizing: border-box;
}
@media screen and (max-width: 768px) {
  .result-bars-container {
    padding: 10px 20px;
    margin: 0 auto;
  }
}
.result-bars-container .result-bar {
  float: left;
}
.result-bars-container .result-bar .total {
  position: absolute;
  bottom: 0px;
  margin: 0px 5px;
  background-color: #960001;
}
.result-bars-container .result-bar .percentage {
  position: absolute;
  bottom: 0px;
  left: 0px;
  top: 0px;
  right: 0px;
  margin: 0px 5px;
  background-color: #dd0000;
}
@media screen and (max-width: 768px) {
  .result-bars-container .result-bar .percentage {
    display: none;
  }
}
.result-bars-container .result-bar .percentage.mobile {
  display: none;
}
@media screen and (max-width: 768px) {
  .result-bars-container .result-bar .percentage.mobile {
    display: block;
  }
}
.result-bars-container .result-bar p {
  color: #191919;
  font-size: 15pt;
  text-transform: uppercase;
  font-weight: 600;
  padding: 8px 22px;
  text-align: left;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .result-bars-container .result-bar p {
    position: absolute;
    top: 6px;
    font-size: 12pt;
  }
}
@media screen and (max-width: 320px) {
  .result-bars-container .result-bar p {
    font-size: 10pt;
  }
}
@media screen and (min-width: 768px) {
  .result-bars-container .result-bar p {
    width: 380px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    top: -11%;
    font-size: 13pt;
  }
}
@media screen and (min-width: 992px) {
  .result-bars-container .result-bar p {
    top: -44px;
    font-size: 15pt;
  }
}
@media screen and (min-width: 1200px) {
  .result-bars-container .result-bar p {
    top: -54px;
    font-size: 15pt;
  }
}
@media screen and (max-width: 768px) {
  .result-bars-container .result-bar {
    width: 100%;
    padding: 0px 0px 10px 0px;
    height: 40px;
    float: left;
    position: relative;
  }
  .result-bars-container .result-bar .total {
    width: 100%;
    padding: 0px;
    height: 80%;
  }
  .result-bars-container .result-bar .percentage {
    padding: 0px;
    height: 80%;
    top: 8px;
  }
}
@media screen and (min-width: 768px) {
  .result-bars-container .result-bar {
    width: 6.66666667%;
    padding: 0px 5px;
    height: 100%;
    -ms-transform: rotate(-90deg);
    /* IE 9 */
    -webkit-transform: rotate(-90deg);
    /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
    -ms-transform-origin: left bottom 0;
    -webkit-transform-origin: left bottom 0;
    transform-origin: left bottom 0;
  }
  .result-bars-container .result-bar .total {
    width: 60%;
    padding: 0px;
    height: 100%;
    -ms-transform: rotate(-90deg);
    /* IE 9 */
    -webkit-transform: rotate(-90deg);
    /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
    -ms-transform-origin: left top 0;
    -webkit-transform-origin: left top 0;
    transform-origin: left top 0;
  }
  .result-bars-container .result-bar .percentage {
    bottom: 88px;
    left: 5px;
    width: 60%;
    padding: 0px;
    -ms-transform: rotate(-90deg);
    /* IE 9 */
    -webkit-transform: rotate(-90deg);
    /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
    -ms-transform-origin: left top 0;
    -webkit-transform-origin: left top 0;
    transform-origin: left top 0;
  }
}
button {
  margin: 5px 10px;
  padding: 8px 17px 8px 17px;
  background: none;
  border: 3px solid #ffffff;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
button span {
  text-transform: uppercase;
  font-size: 13pt;
  color: #ffffff;
}
.icon {
  cursor: pointer;
  width: 65px;
  height: 65px;
}
.btn-ruler {
  border-left: 1px solid #000000;
  height: 100%;
  width: 1px;
}
.btn-ruler.pull-left {
  margin-left: 5px;
}
.btn-ruler.pull-left.menu {
  margin-left: 35px;
}
.btn-ruler.pull-right {
  margin-right: 5px;
}
.btn-ruler.pull-right.menu {
  margin-right: 35px;
}
.icon-right {
  cursor: pointer;
  margin: 24px 30px 0px 0px;
  width: 32px;
  height: 32px;
  fill: #000000;
}
@media (max-width: 320px) {
  .icon-right {
    width: 25px;
    height: 25px;
    margin-top: 21px;
  }
}
.icon-left {
  cursor: pointer;
  margin: 24px 0px 0px 30px;
  width: 32px;
  height: 32px;
  fill: #000000;
}
@media (max-width: 320px) {
  .icon-left {
    width: 25px;
    height: 25px;
  }
}
.icon-navigate-right {
  margin: 8px;
  width: 65px;
  height: 65px;
  fill: #000000;
  stroke: #000000;
}
.icon-navigate-right.disabled {
  cursor: default;
  color: rgba(0, 0, 0, 0.22);
}
@media (max-width: 480px) {
  .icon-navigate-right {
    margin: 16px 9px;
    width: 48px;
    height: 48px;
  }
}
@media (max-width: 320px) {
  .icon-navigate-right {
    margin: 10px;
  }
}
.icon-thumb-up,
.icon-correct {
  cursor: pointer;
  margin: 8px;
  width: 65px;
  height: 65px;
  fill: #000000;
}
@media (max-width: 480px) {
  .icon-thumb-up,
  .icon-correct {
    margin: 16px 9px;
    width: 48px;
    height: 48px;
  }
}
@media (max-width: 320px) {
  .icon-thumb-up,
  .icon-correct {
    margin: 10px;
  }
}
.icon-thumb-down,
.icon-incorrect {
  cursor: pointer;
  margin: 8px;
  width: 65px;
  height: 65px;
  fill: #000000;
}
@media (max-width: 480px) {
  .icon-thumb-down,
  .icon-incorrect {
    margin: 16px 9px;
    width: 48px;
    height: 48px;
  }
}
@media (max-width: 320px) {
  .icon-thumb-down,
  .icon-incorrect {
    margin: 10px;
  }
}
.icon-close {
  position: absolute;
  right: 5px;
  top: 5px;
  margin: 5px;
  width: 25px;
  height: 25px;
}
.icon-facebook {
  cursor: pointer;
  width: 48px;
  height: 48px;
  fill: #FFFF00;
}
@media (max-width: 320px) {
  .icon-facebook {
    width: 48px;
    height: 48px;
  }
}
.icon-twitter {
  cursor: pointer;
  width: 48px;
  height: 48px;
  fill: #FFFF00;
}
@media (max-width: 320px) {
  .icon-twitter {
    width: 48px;
    height: 48px;
  }
}
.icon-email {
  cursor: pointer;
  width: 48px;
  height: 48px;
  fill: #FFFF00;
}
@media (max-width: 320px) {
  .icon-email {
    width: 48px;
    height: 48px;
  }
}
.icon-info .icon {
  cursor: pointer;
  width: 48px;
  height: 48px;
  fill: #ffffff;
}
.icon-info .icon.active {
  fill: #ffffff;
}
@media (max-width: 480px) {
  .icon-info .icon.active {
    fill: #ffffff;
  }
}
.icon-field .icon {
  cursor: pointer;
  width: 48px;
  height: 48px;
  fill: #ffffff;
}
.icon-field.like {
  background: #FFFF00 url('../img/button-nav-like.png') -65px -5px no-repeat;
}
@media (max-width: 480px) {
  .icon-field.like {
    background: #FFFF00 url('../img/button-nav-like-s.png') -41px -2px no-repeat;
  }
}
.icon-field.dislike {
  background: #FFFF00 url('../img/button-nav-dislike.png') -64px -2px no-repeat;
}
@media (max-width: 480px) {
  .icon-field.dislike {
    background: #FFFF00 url('../img/button-nav-dislike-s.png') -41px -2px no-repeat;
  }
}
.icon-field .icon.icon-drugs,
.icon-field .icon.icon-alcohol,
.icon-field .icon.icon-smoking,
.icon-field .icon.icon-intro {
  position: relative;
  float: none;
  width: 148px;
  height: 148px;
  fill: #000000;
  cursor: default;
}
.icon-field .icon.icon-drugs {
  top: 0px;
  margin: 84px 270px 0 0;
  background: url("../img/icon-drugs.svg") 0 0 no-repeat;
}
.icon-field .icon.icon-alcohol {
  top: 0px;
  margin: 32px 0px 0px 0px;
  background: url("../img/icon-alcohol.svg") 0 0 no-repeat;
}
.icon-field .icon.icon-smoking {
  top: 0px;
  margin: 84px 0 0 270px;
  background: url("../img/icon-smoking.svg") 0 0 no-repeat;
}
.icon-field .icon.icon-intro {
  background: url("../img/icon-intro.svg") 0 0 no-repeat;
  width: 260px;
  height: 260px;
  top: 172px;
}
@media (max-width: 480px) {
  .icon-field .icon.icon-drugs {
    top: 0px;
    margin: 0px 200px 0 0;
    width: 112px;
  }
  .icon-field .icon.icon-alcohol {
    top: 0px;
    margin: -38px 0px 0px 0px;
    width: 112px;
  }
  .icon-field .icon.icon-smoking {
    top: 0px;
    margin: 0px 0 0 200px;
    width: 112px;
  }
  .icon-field .icon.icon-intro {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 70px;
    left: 50%;
    margin-left: -100px;
  }
}
@media (max-width: 320px) {
  .icon-field .icon.icon-drugs {
    top: -10px;
    margin: 0px 180px 0 0;
    width: 98px;
  }
  .icon-field .icon.icon-alcohol {
    top: -4px;
    margin: -38px 0px 0px 0px;
    width: 98px;
  }
  .icon-field .icon.icon-smoking {
    top: -10px;
    margin: 0px 0 0 180px;
    width: 98px;
  }
  .icon-field .icon.icon-intro {
    position: absolute;
    width: 184px;
    height: 200px;
    top: 52px;
    left: 50%;
    margin-left: -92px;
  }
}
.icon-burger {
  cursor: pointer;
  width: 48px;
  height: 48px;
  color: #000000;
}
@media (max-width: 320px) {
  .icon-burger {
    width: 25px;
    height: 25px;
  }
}
.icon-burger.active {
  color: #000000;
}
.btn-info {
  cursor: pointer;
  width: 40px;
  height: 40px;
  background: #ffffff;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
@media (max-width: 320px) {
  .btn-info {
    width: 28px;
    height: 28px;
  }
}
.btn-info span {
  color: #191919;
  text-align: center;
  font-weight: 900;
  font-size: 22pt;
  line-height: 30pt;
  vertical-align: center;
}
@media (max-width: 320px) {
  .btn-info span {
    font-size: 18pt;
    line-height: 22pt;
    vertical-align: top;
  }
}
.btn-info:hover {
  background: #191919;
  box-shadow: none;
}
.btn-info:hover span {
  color: #ffffff;
}
@media (max-width: 480px) {
  .btn-info.open {
    display: none;
  }
}
.btn-info-chart {
  cursor: pointer;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
@media (max-width: 768px) {
  .btn-info-chart {
    width: 22px;
    height: 22px;
  }
}
.btn-info-chart span {
  color: #dd0000;
  text-align: center;
  font-weight: 900;
  font-size: 16pt;
  margin: 0px 12px;
}
@media (max-width: 768px) {
  .btn-info-chart span {
    margin: 0px 8px;
    font-size: 13pt;
  }
}
.btn-rating {
  width: 32px;
  height: 32px;
  background: url('../img/radio-rating.png') -32px 0px no-repeat;
  background: linear-gradient(transparent, transparent), linear-gradient(transparent, transparent), url('../img/radio-rating-black.svg') 0px 0px no-repeat;
  box-sizing: border-box;
  cursor: pointer;
  overflow: hidden;
  margin: 3px 0 0 0;
}
.btn-rating.active {
  background: url('../img/radio-rating.png') -2px 0px no-repeat;
  background: linear-gradient(transparent, transparent), linear-gradient(transparent, transparent), url('../img/radio-rating-white.svg') 0px 0px no-repeat;
}
@media (max-width: 480px) {
  .btn-rating {
    width: 24px;
    height: 24px;
    background: url('../img/radio-rating-s.png') -24px 0px no-repeat;
    background: linear-gradient(transparent, transparent), linear-gradient(transparent, transparent), url('../img/radio-rating-black.svg') 0px 0px no-repeat;
    margin: 3px 0 0 -5px;
  }
  .btn-rating.active {
    background: url('../img/radio-rating-s.png') -1px 0px no-repeat;
    background: linear-gradient(transparent, transparent), linear-gradient(transparent, transparent), url('../img/radio-rating-white.svg') 0px 0px no-repeat;
  }
}
.icon-more-bullets {
  cursor: pointer;
  width: 34px;
  height: 21px;
  background: #191919 url('../img/icon-more-bullets.png') 0px 0px no-repeat;
}
.icon-people {
  cursor: pointer;
  width: 56px;
  height: 34px;
  background: url('../img/icon-people.png') 0px 0px no-repeat;
}
.icon-people.right {
  background: url('../img/icon-people-right.png') 0px 0px no-repeat;
}
.toggle-question {
  display: inline-block;
  float: left;
  width: 100%;
}
.toggle-question.no-icon {
  width: 100%;
  padding: 15px 20px 20px 20px;
}
@media (max-width: 480px) {
  .toggle-question.no-icon {
    padding: 10px 25px;
  }
}
.toggle-question.no-icon .question,
.toggle-question.no-icon .answer {
  width: 100% !important;
}
@media (max-width: 480px) {
  .toggle-question.no-icon .question,
  .toggle-question.no-icon .answer {
    float: none;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .toggle-question.no-icon .question,
  .toggle-question.no-icon .answer {
    float: none;
  }
}
.toggle-question.no-icon .question .btn-question,
.toggle-question.no-icon .answer .btn-question,
.toggle-question.no-icon .question .btn-answer,
.toggle-question.no-icon .answer .btn-answer {
  width: 100% !important;
}
@media (max-width: 768px) {
  .toggle-question.no-icon .question .btn-question,
  .toggle-question.no-icon .answer .btn-question,
  .toggle-question.no-icon .question .btn-answer,
  .toggle-question.no-icon .answer .btn-answer {
    float: none;
  }
}
.toggle-question.no-icon .question .btn-question,
.toggle-question.no-icon .answer .btn-question {
  height: auto;
}
@media (max-width: 992px) {
  .toggle-question.no-icon .question .btn-question,
  .toggle-question.no-icon .answer .btn-question {
    float: none;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .toggle-question.no-icon .question .btn-question,
  .toggle-question.no-icon .answer .btn-question {
    min-height: 140px;
  }
}
.toggle-question .icon-field,
.toggle-question .icon-info {
  float: left;
  margin-right: 30px;
}
.toggle-question .icon-field .icon,
.toggle-question .icon-info .icon {
  margin: 3px 0;
}
.toggle-question .question {
  float: left;
  margin: 0px auto;
  width: 80%;
  width: calc(100% - 90px);
}
.toggle-question .question .btn-question {
  width: 100%;
  padding: 15px 20px 20px 20px;
  border: 3pt solid #ffffff;
  background: rgba(0, 0, 0, 0.22);
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
.toggle-question .question .btn-question h3 {
  cursor: pointer;
  color: #ffffff;
  text-transform: uppercase;
  text-align: left;
  font-size: 14pt;
  line-height: 24pt;
  font-weight: 900;
  margin: 0;
  padding: 0;
}
@media (max-width: 768px) {
  .toggle-question .question .btn-question h3 {
    font-size: 12pt;
  }
}
@media (max-width: 320px) {
  .toggle-question .question .btn-question h3 {
    font-size: 10pt;
    line-height: 1.6;
    word-wrap: break-word;
  }
}
.toggle-question .question .btn-answer {
  width: 100%;
  background: #ffffff;
  padding: 16px 20px 10px 20px;
  border: 3px solid #ffffff;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
.toggle-question .question .btn-answer h3 {
  cursor: pointer;
  color: #191919;
  text-transform: uppercase;
  text-align: left;
  font-size: 14pt;
  line-height: 24pt;
  font-weight: 900;
  margin: 0;
  padding: 0;
}
@media (max-width: 768px) {
  .toggle-question .question .btn-answer h3 {
    font-size: 12pt;
  }
}
@media (max-width: 320px) {
  .toggle-question .question .btn-answer h3 {
    font-size: 10pt;
    line-height: 1.6;
    word-wrap: break-word;
  }
}
.toggle-question .question .btn-answer p {
  cursor: pointer;
  font-family: Avenir-Light, sans-serif;
  color: #191919;
  text-transform: none;
  text-align: left;
  font-size: 11pt;
  margin: 0px;
  padding: 10px 0px;
}
.toggle-question .question .btn-answer p a {
  color: #191919;
  text-transform: none;
  font-size: 11pt;
}
.toggle-question .question .btn-answer input[type="text"] {
  width: 100%;
  margin: 20px auto;
  padding: 4px 0px;
  background: none;
  color: #191919;
  text-transform: uppercase;
  font-size: 13pt;
  font-weight: 900;
  box-shadow: none;
  border: none;
  border-top: 3px solid #191919;
  border-bottom: 3px solid #191919;
}
@media (max-width: 480px) {
  .toggle-question .question.important {
    margin: 0px auto;
  }
}
.toggle-question .question.important .btn-question {
  background: #000000;
  border: 3px solid #ffffff;
}
.toggle-question .question.important .btn-question h3 {
  color: #ffffff;
}
.toggle-question .question.important .btn-answer {
  background: #000000;
  border: 3px solid #ffffff;
}
.toggle-question .question.important .btn-answer h3 {
  color: #ffffff;
}
.toggle-question .question.important .btn-answer p {
  color: #ffffff;
}
.toggle-question.question-red {
  margin: 0px 20px;
  width: auto;
}
.toggle-question.question-red .icon-field {
  display: none;
}
.toggle-question.question-red .question.important .btn-question {
  background: #191919;
  border: 3px solid #dd0000;
}
.toggle-question.question-red .question.important .btn-question h3 {
  color: #dd0000;
}
@font-face {
  font-family: 'Avenir-Black';
  src: url('fonts/Avenir/Avenir-Black.eot');
  src: url('fonts/Avenir/Avenir-Black.woff') format('woff'), url('fonts/Avenir/Avenir-Black.ttf') format('truetype'), url('fonts/Avenir/Avenir-Black.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir-BlackOblique';
  src: url('fonts/Avenir/Avenir-BlackOblique.eot');
  src: url('fonts/Avenir/Avenir-BlackOblique.woff') format('woff'), url('fonts/Avenir/Avenir-BlackOblique.ttf') format('truetype'), url('fonts/Avenir/Avenir-BlackOblique.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir-Book';
  src: url('fonts/Avenir/Avenir-Book.eot');
  src: url('fonts/Avenir/Avenir-Book.woff') format('woff'), url('fonts/Avenir/Avenir-Book.ttf') format('truetype'), url('fonts/Avenir/Avenir-Book.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir-BookOblique';
  src: url('fonts/Avenir/Avenir-BookOblique.eot');
  src: url('fonts/Avenir/Avenir-BookOblique.woff') format('woff'), url('fonts/Avenir/Avenir-BookOblique.ttf') format('truetype'), url('fonts/Avenir/Avenir-BookOblique.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir-Heavy';
  src: url('fonts/Avenir/Avenir-Heavy.eot');
  src: url('fonts/Avenir/Avenir-Heavy.woff') format('woff'), url('fonts/Avenir/Avenir-Heavy.ttf') format('truetype'), url('fonts/Avenir/Avenir-Heavy.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir-HeavyOblique';
  src: url('fonts/Avenir/Avenir-HeavyOblique.eot');
  src: url('fonts/Avenir/Avenir-HeavyOblique.woff') format('woff'), url('fonts/Avenir/Avenir-HeavyOblique.ttf') format('truetype'), url('fonts/Avenir/Avenir-HeavyOblique.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir-Light';
  src: url('fonts/Avenir/Avenir-Light.eot');
  src: url('fonts/Avenir/Avenir-Light.woff') format('woff'), url('fonts/Avenir/Avenir-Light.ttf') format('truetype'), url('fonts/Avenir/Avenir-Light.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir-LightOblique';
  src: url('fonts/Avenir/Avenir-LightOblique.eot');
  src: url('fonts/Avenir/Avenir-LightOblique.woff') format('woff'), url('fonts/Avenir/Avenir-LightOblique.ttf') format('truetype'), url('fonts/Avenir/Avenir-LightOblique.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir-Medium';
  src: url('fonts/Avenir/Avenir-Medium.eot');
  src: url('fonts/Avenir/Avenir-Medium.woff') format('woff'), url('fonts/Avenir/Avenir-Medium.ttf') format('truetype'), url('fonts/Avenir/Avenir-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir-MediumOblique';
  src: url('fonts/Avenir/Avenir-MediumOblique.eot');
  src: url('fonts/Avenir/Avenir-MediumOblique.woff') format('woff'), url('fonts/Avenir/Avenir-MediumOblique.ttf') format('truetype'), url('fonts/Avenir/Avenir-MediumOblique.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir-Oblique';
  src: url('fonts/Avenir/Avenir-Oblique.eot');
  src: url('fonts/Avenir/Avenir-Oblique.woff') format('woff'), url('fonts/Avenir/Avenir-Oblique.ttf') format('truetype'), url('fonts/Avenir/Avenir-Oblique.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir-Roman';
  src: url('fonts/Avenir/Avenir-Roman.eot');
  src: url('fonts/Avenir/Avenir-Roman.woff') format('woff'), url('fonts/Avenir/Avenir-Roman.ttf') format('truetype'), url('fonts/Avenir/Avenir-Roman.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
.header-logo {
  float: left;
  margin: 0 auto;
  width: 220px;
  height: 60px;
  background: #FFFF00 url("../img/logo-hardenberg.svg") 15px 5px no-repeat;
  background: linear-gradient(transparent, transparent) repeat scroll 0 0%, url("../img/logo-hardenberg.svg") no-repeat scroll 15px 5px rgba(0, 0, 0, 0);
  -webkit-background-size: 170px 52px;
  background-size: 170px 52px;
  cursor: pointer;
}
@media (max-width: 480px) {
  .header-logo {
    background: #FFFF00 url("../img/logo-hardenberg.svg") 25px 15px no-repeat;
    background: linear-gradient(transparent, transparent), #FFFF00 url("../img/logo-hardenberg.svg") no-repeat scroll 15px 14px;
    width: 180px;
    background-size: 140px;
  }
}
@media (max-width: 320px) {
  .header-logo {
    background: #FFFF00 url("../img/logo-hardenberg.svg") 5px 9px no-repeat;
    background: linear-gradient(transparent, transparent), #FFFF00 url("../img/logo-hardenberg.svg") no-repeat scroll 10px 7px;
    width: 140px;
    background-size: 120px;
    height: 40px;
  }
}
.logo-vitaal-vechtdal {
  float: none;
  margin: 0 auto;
  width: 180px;
  height: 176px;
  background: #FFFF00 url("../img/logo-vitaal-vechtdal-large.png") 0px 0px no-repeat;
  cursor: pointer;
}
@media (max-width: 480px) {
  .logo-vitaal-vechtdal {
    background: #FFFF00 url("../img/logo-vitaal-vechtdal-medium.png") 0px 0px no-repeat;
    width: 120px;
    height: 118px;
  }
}
@media (max-width: 320px) {
  .logo-vitaal-vechtdal {
    background: #FFFF00 url("../img/logo-vitaal-vechtdal-small.png") 0px 0px no-repeat;
    width: 60px;
    height: 59px;
  }
}
