@font-face {
  font-family: 'Lubalin';
  src: url('../../assets/fonts/Lubanin/Lubalin Graph Demi Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lubalin-BlackOblique';
  src: url('../../assets/fonts/Lubanin/Lubalin Graph Demi Regular.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Lubalin-Black';
  src: url('../../assets/fonts/Lubanin/Lubalin Graph Demi Regular.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Lubanin-Book';
  src: url('../../assets/fonts/Lubanin/Lubalin Graph Demi Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lubanin-BookOblique';
  src: url('../../assets/fonts/Lubanin/Lubalin Graph Demi Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lubanin-Heavy';
  src: url('../../assets/fonts/Lubanin/Lubalin Graph Demi Regular.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Lubanin-HeavyOblique';
  src: url('../../assets/fonts/Lubanin/Lubalin Graph Demi Regular.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Lubanin-Light';
  src: url('../../assets/fonts/Lubanin/Lubalin Graph Demi Regular.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Lubanin-LightOblique';
  src: url('../../assets/fonts/Lubanin/Lubalin Graph Demi Regular.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Lubanin-Medium';
  src: url('../../assets/fonts/Lubanin/Lubalin Graph Demi Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lubanin-MediumOblique';
  src: url('../../assets/fonts/Lubanin/Lubalin Graph Demi Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lubanin-Oblique';
  src: url('../../assets/fonts/Lubanin/Lubalin Graph Demi Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lubanin-Roman';
  src: url('../../assets/fonts/Lubanin/Lubalin Graph Demi Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}