<div class="result-container">
    <div class="wrapper clearfix">

        <div class="container result">

            <div class="full-width-sm">
                <div class="row">
                    <p ng-if="$ctrl.showAge">Antwoorden per leeftijd</p>
                    <p ng-if="$ctrl.showCode">Antwoorden per code</p>

                    <div class="person-container">
                        <div class="row">
                            <p>Totaal aantal resultaten: {{ $ctrl.surveys.length }}</p>
                        </div>

                        <div class="row">
                            <label>Selecteer een code:</label>
                            <select ng-model="$ctrl.selected">
                                <option ng-repeat="typeGroup in $ctrl.results" value="{{ typeGroup.type }}">
                                    {{ typeGroup.type }} ({{ typeGroup.userCount }})
                                </option>
                            </select>
                        </div>

                        <div class="filtered-results">
                            <div class="col-xs-12">
                                <p ng-if="$ctrl.showAge" class="age-title col-xs-7">
                                    Leeftijd tussen: {{ $ctrl.typeGroup.index * 25 }} en {{ ($ctrl.typeGroup.index + 1) * 25 }}
                                </p>
                                <p ng-if="$ctrl.showCode" class="age-title col-xs-7">Code: {{ $ctrl.typeGroup.type }}</p>
                                <p class="age-title col-xs-3">Aantal: {{ $ctrl.typeGroup.userCount }}</p>
                            </div>

                            <ul>
                                <li ng-repeat="result in $ctrl.typeGroup.results">
                                    <p ng-if="false" class="title" title="{{ result.type }}">{{ result.type }}</p>
                                    <p class="question" title="{{ result.question }}">{{ result.question }}</p>

                                    <div ng-if="false" class="total">
                                        <span>Totaal:  </span>
                                        <p title="{{ result.userCount }}">{{ result.userCount }}</p>
                                    </div>

                                    <ul class="answer-menu">
                                        <li ng-repeat="answer in result.answers">
                                            <div class="col-xs-3 answer-col" ng-class="result.type">
                                                <span>{{ answer.title }}</span>
                                            </div>
                                            <div class="col-xs-8 result-col" ng-class="result.type">
                                                <div class="percentage"
                                                    ng-style="{width: answer.answerPercentage + '%'}"></div>
                                                <span class="count">{{ answer.answerCount }}</span>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>	

