@import "sass/variables/variables";
@import "sass/main/main";
@import "sass/buttons/buttons";
@import "sass/fonts/fonts";

html, body {
  background-color: $coen-background;
  font-family: $coen-font;
  overflow: hidden;
  overflow-y: auto;
}

h1, h2, h3, p, a, label {
  font-family: $coen-font;
  color: $coen-text-color;
}

span {
  font-family: $coen-font-light;
  color: $coen-text-color;
  font-size: 14pt;
}

h1 {
  font-size: 19pt;
  font-weight: 400;
  text-transform: uppercase;
  text-align: left;
  margin: 20px;

  @media (min-width: $screen-mini) {
    font-size: 22pt;
  }

  @media (min-width: $screen-phone) {
    font-size: 28pt;
  }

  @media (min-width: $screen-desktop) {
    font-size: 32pt;
  }
}

h2 {
  font-size: 16pt;
  font-weight: 200;
  text-transform: uppercase;
  text-align: left;
  margin: 20px;

  @media (min-width: $screen-phone) {
    font-size: 24pt;
  }

  @media (min-width: $screen-desktop) {
    font-size: 26pt;
  }
}

h3,
label {
  font-size: 14pt;
  font-weight: 200;
  text-transform: uppercase;
  text-align: left;
  margin: 20px;

  @media (min-width: $screen-phone) {
    font-size: 18pt;
  }

  @media (min-width: $screen-desktop) {
    font-size: 20pt;
  }
}

p {
  text-transform: uppercase;
  font-size: 14pt;
  text-align: left;

  @media (min-width: $screen-phone) {
    font-size: 14pt;
  }

  @media (min-width: $screen-tablet) {
    font-size: 28pt;
  }
}

a {
  font-weight: 900;
  text-transform: uppercase;
  text-align: left;
  margin: 10px;
  text-decoration: underline;
  word-wrap: break-word;

  &:active,
  &:visited,
  &:hover {
    color: $coen-white;
  }
}

label {
  text-align: left;
}

button {
  background: none;
}

#page-holder {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: $coen-background;

  &.home,
  &.end {
    background-color: $coen-home-background;
  }

  /* iphone 4S retina landscape, 3.5inch */
  @media only screen and (-webkit-min-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) and (orientation: landscape) {
    top: 20px;
  }

  /* iphone 4S retina portrait, 3.5inch */
  @media only screen and (-webkit-min-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) and (orientation: portrait) {
    top: 20px;
  }

  /** iphone 5 **/
  @media screen and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) {
    top: 20px;
  }

  /** iphone6 **/
  @media screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) {
    top: 20px;
  }

  /**iphone 6 plus **/
  @media screen and (device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) {
    top: 20px;
  }
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0px;
  box-sizing: border-box;

  @media (max-width: $screen-tablet) {
    padding: 0px;
  }

  &.home {

    &.about {
      @media (min-width: $screen-lg-desktop) {
        width: 1100px;
      }
    }
  }
}