<div class="home-container">
    <div class="wrapper clearfix">
        <div class="container home reminder">

            <div class="full-width-sm">
                <h1>Wil je een reminder instellen voor de provinciale staten verkiezingen?</h1>
                <div class="row">
                    <div class="column-question">
                        <toggle-question  class="question-right" question="$ctrl.question1" button-class="'email'" field-value="user.email"></toggle-question>
                        <toggle-question class="question-right" question="$ctrl.question3" button-class="'phone'" field-value="user.phone"></toggle-question>
                    </div>
                    <div class="column-question">
                        <toggle-question class="question-left" question="$ctrl.question2" button-class="'agenda'"></toggle-question>
                        <toggle-question class="question-left" question="$ctrl.question4" button-class="'skip'"></toggle-question>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>	

