@import "../../variables";

.result-container {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding: 0px;
  box-sizing: border-box;

  .wrapper {
    width: 100%;

    .result {
      .full-width-sm {
        width: 100%;
        text-align: center;
        margin-top: 50px;
        padding-left: 20%;
        padding-right: 20%;

        @media (min-width: $screen-phone) {
          padding-left: 10%;
          padding-right: 10%;
        }

        .winner-container {
          p {
            font-size: 14pt;
            text-align: left;
          }
        }

        .person-container {
          margin-top: 20px;

          p {
            font-size: 14pt;
            text-align: left;
            padding: 0 15px 0 0;
            float: left;

            &.unknown {
              color: $coen-white-alpha;
            }

            &.age-title {
              font-size: 20pt;
              margin: 20px 0 10px;
            }

            &.answer {
              color: $coen-grey;
            }

            &.correct {
              color: $coen-green;
            }

            &.incorrect {
              color: $coen-red;
            }
          }

          select {
            width: 150px;
            float: left;
            margin-left: 30px;
          }

          ul {
            width: 100%;
            float: left;
            margin: 0;
            padding: 0;

            li {
              width: 100%;
              float: left;
              list-style: none;
              margin: 0;
              padding: 0 0 10px 10px;
              border-bottom: 1px solid $coen-white-alpha;
              cursor: pointer;

              &.results-header {
                border-bottom: 2px solid $coen-white;

                p {
                  font-weight: bold;
                }
              }

              span {
                float: left;
              }

              p {
                margin: 0;
                padding: 6px 6px 6px 0;
                font-size: 10pt;
                float: left;
                text-align: left;
                outline: none;
                //white-space: nowrap;
                //overflow: hidden;
                //text-overflow: ellipsis;
              }

              .statement {
                width: 100%;
              }

              .title {
                width: 100%;
                margin-bottom: 3px;
                font-size: 14pt;
                color: $coen-white-alpha;
              }

              .question {
                width: 100%;
                margin: 5px 0 3px;
                font-size: 14pt;
              }

              .answer-menu {
                float: left;
                width: 100%;
                margin-bottom: 5px;

                li {
                  width: 90%;
                  margin: 0 8px 0 0;
                  padding: 0;
                  border-bottom: none;

                  p, span {
                    float: left;
                    color: $coen-grey;
                    margin: 0 10px 0 0;
                    padding: 0;
                  }

                  .percentage {
                    background-color: $coen-grey;
                    height: 12px;
                    float: left;
                    width: auto;
                    display: inline-block;
                    margin-top: 4px;
                  }

                  .count {
                    margin-left: 10px;
                  }

                  .answer-col {
                    padding: 0;
                    width: 25%;

                    &.multiple {
                      width: 100%;
                    }
                  }

                  .result-col {
                    padding: 0;
                    width: 75%;

                    &.multiple {
                      width: 100%;
                    }
                  }
                }
              }

              .total {
                width: 20%;
                text-align: right;
              }
            }
          }
        }
      }
    }
  }
}