@import "../../../sass/variables/variables";


.bullet-navigate-container {
  @media (max-width: $screen-mini) {
    height: 48px;
  }

  .nav {
    background: $coen-nav-background;


    .bullet-bar-container {
      width: 100%;
      height: 29px;
      margin: 6px auto 0px;
      box-sizing: border-box;

      .bullet-bread-bar {
        background: $coen-nav-background;
        margin-left: 0;
        @include coen-transition(margin-left, 1s);
        padding-left: 10px;

        @media (max-width: $screen-desktop) {
          padding-left: 10px;
        }

        @media (max-width: $screen-phone) {
          padding-left: 5px;
        }

        .bullet-step {
          float: left;
          margin: 0px;
          height: 29px;
          background: $coen-nav-background;

          .bullet-bar-line {
            position: absolute;
            margin-left: 20px;
            height: 2px;
            top: 79px;
            background: $coen-bullet-bar;
            @include coen-transition(width, 1s);

            @media (max-width: $screen-mini) {
              top: 60px;
            }
          }

          .bullet-circle {
            position: absolute;
            float: left;
            margin: 8px 0px 0px 10px;
            background: $coen-bullet-bar;
            height: 15px;
            width: 15px;
            @include coen-border-radius(7.5px);

            @media (max-width: $screen-mini) {
              height: 12px;
              width: 12px;
              margin: 10px 0px 0px 10px;
              @include coen-border-radius(6px);
            }

            &.bullet-inactive {
              display: none;
            }

            &.bullet-active {
              width: 28px;
              height: 28px;
              margin: 0px 0px 0px 4px;
              @include coen-border-radius(14.5px);

              @media (max-width: $screen-mini) {
                width: 26px;
                height: 26px;
                margin: 3px 0px 0px 3px;
                @include coen-border-radius(13px);
              }
            }

            &.bullet-center {
              margin: 2px 0 0 6px;
              border: 5px solid $coen-bullet-selected-border;
              background: $coen-bullet-selected;
              box-sizing: content-box;
              height: 14px;
              width: 14px;
              @include coen-border-radius(13px);


              @media (max-width: $screen-mini) {
                width: 12px;
                height: 12px;
                margin: 5px 0px 0px 5px;
                @include coen-border-radius(12px);
              }
            }
          }
        }
      }

      .broken-line {
        position: absolute;
        top: 0px;

        .icon-broken-line {
          display: none;
          position: absolute;
          top: 67px;
          left: 0px;
          background-color: $coen-nav-background;
          fill: $coen-bullet-bar;
          stroke: $coen-bullet-bar;
          width: 42px;
          height: 42px;

          @media (max-width: $screen-mini) {
            top: 47px !important;
          }

          @media all and (max-width: $screen-tablet) {
            display: block;
            width: 67px;
            height: 28px;
            margin-left: -25px;
          }
        }
      }

    }

    .count-container {
      position: relative;
      float: right;
      margin: 0 20px 0 0;

      p {
        color: $coen-bullet-bar;
        font-size: 9pt;
        font-weight: 700;
        margin: 0;
        padding: 0;
      }
    }
  }
}



