<div ng-show="$ctrl.menu.showHeader" class="nav">
	<div class="wrapper clearfix">
        <div class="bullet-bar-container" >

            <div class="bullet-bread-bar" ng-class="$ctrl.barStyle">

                <div ng-repeat="step in $ctrl.steps" class="bullet-step">
                    <div ng-hide="$last" class="bullet-bar-line"></div>
                    <div ng-hide="step.active" class="bullet-circle"></div>
                    <div ng-show="step.active" class="bullet-circle bullet-active"></div>
                    <div ng-show="step.active" class="bullet-circle bullet-center"></div>
                </div>
            </div>
            <div icon-font icon-class="icon-broken-line" class="broken-line"></div>
        </div>

		<div class="count-container">
			<p>{{ $ctrl.bulletIndex }} van {{ $ctrl.steps.length }}</p>
		</div>
	</div>
</div>

