@import "variables";

html, body {
  background-color: $coen-darkgrey;
  font-family: $font-type-arial;
  overflow: hidden;
  overflow-y: auto;
}

h1, h2, h3, p, a {
  color: $coen-white;
}

h1 {
  font-size: 24pt;
  font-weight: 900;
  text-transform: uppercase;
  text-align: left;
  margin: 10px;

  @media (min-width: $screen-phone) {
    font-size: 16pt;
  }

  @media (min-width: $screen-desktop) {
    font-size: 22pt;
  }
}

h2 {
  font-size: 15pt;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
  margin: 10px;

  @media (min-width: $screen-phone) {
    font-size: 15pt;
  }

  @media (min-width: $screen-tablet) {
    font-size: 26pt;
  }
}

h3 {
  font-size: 14pt;

  @media (min-width: $screen-phone) {
    font-size: 24pt;
  }

  @media (min-width: $screen-tablet) {
    font-size: 36pt;
  }
}

p {
  text-transform: uppercase;
  font-size: 14pt;

  @media (min-width: $screen-phone) {
    font-size: 14pt;
  }

  @media (min-width: $screen-tablet) {
    font-size: 24pt;
  }
}

a {
  font-weight: 900;
  text-transform: uppercase;
  text-align: left;
  margin: 10px;
  text-decoration: underline;

  &:hover {
    color: $coen-white;
  }
}

label {
  float: left;
  color: $coen-grey;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 40px 40px 80px 40px;
  box-sizing: border-box;
  float: left;

  &.login,
  &.theme {
    padding: 100px 40px 80px 40px;
  }

  //  &.home {
  @media (min-width: $screen-lg-desktop) {
    width: 1200px;
  }
  //  }

  .row {
    margin: 0 auto;
  }
}

.button-container {
  float: left;
  width: 100%;
  text-align: left;
  margin-top: 20px;
}

button {
  padding: 8px;
  margin-top: 10px;
  background: none;
  border: 2px solid $coen-white;
  border-radius: 25px;
  width: 100%;

  &.icon {
    width: 40px;
    height: 40px;
  }

  span {
    text-transform: uppercase;
    font-size: 12pt;
    color: $coen-white;
  }

  &:disabled {
    border: 2px solid $coen-grey;
    cursor: default;

    span {
      color: $coen-grey;
    }
  }
}

form {
  margin: 0 auto;

  fieldset {
    margin: 0 auto;
    padding: 0;

    input {
      margin-top: 10px;
    }

    textarea {
      margin-top: 10px;
      min-height: 100px;
    }

    .form-control {
      margin-top: 10px;
    }
  }
}

.icon {
  cursor: pointer;
  width: $coen-icon-size-small;
  height: $coen-icon-size-small;
  color: $coen-white;
  stroke: $coen-white;
  fill: $coen-white;
}

.container {
  ul {
    list-style: none;
    margin: 30px auto;
    padding: 0;
    width: 100%;

    li {
      float: left;
      width: 100%;
      margin: 0 auto;
      padding: 0px;
      cursor: pointer;

      .icon-container {
        position: relative;
        float: left;

        .icon {
          float: left;
          margin: 3px;
        }
      }

      .cms-button {
        cursor: pointer;

        p {
          position: relative;
          float: left;
          left: 30px;
          margin-top: 16px;
          font-size: 16pt;
        }
      }
    }
  }
}


