<div class="menu-container">
    <div class="wrapper clearfix">

        <div class="container menu">

            <div class="full-width-sm">

                <div class="row">
                    <p>Kies een optie</p>

                        <!-- campaign menu -->
                        <div ng-show="!$ctrl.showSubmenu" class="menu-container">
                            <ul>
                                <li ng-click="$ctrl.selectMenu('statement')"><p title="Vragen instellen">Vragen instellen</p></li>
                                <li ng-click="$ctrl.selectMenu('theme')"><p title="Thema's instellen">Thema's instellen</p></li>
                                <li ng-click="$ctrl.selectMenu('menu/result')"><p title="Resultaten">Campagne resultaten</p></li>
                                <li ng-click="$ctrl.selectMenu('person')"><p title="Resultaat per persoon tonen">Resultaat per persoon</p></li>
                            </ul>
                        </div>

                        <!-- result menu -->
                        <div ng-show="$ctrl.showSubmenu" class="menu-container">
                            <ul>
                                <li ng-click="$ctrl.selectMenu('result')"><p title="Antwoorden tonen">Antwoorden per vraag</p></li>
                                <li ng-if="$ctrl.showAgeMenu" ng-click="$ctrl.selectMenu('age')"><p title="Antwoorden per leeftijd tonen">Antwoorden per leeftijd</p></li>
                                <li ng-if="$ctrl.showCodeMenu" ng-click="$ctrl.selectMenu('code')"><p title="Antwoorden per code tonen">Antwoorden per code</p></li>
                                <li ng-if="$ctrl.showScoreMenu" ng-click="$ctrl.selectMenu('score')"><p title="Scores tonen">Scores</p></li>
                            </ul>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>