<div class="row">
	<div class="result-bars-container">
		<div class="result-bar" ng-repeat="bar in $ctrl.results | orderBy : 'agreeCount' : true">
			<div class="total"></div>
			<div class="percentage" ng-style="{height: (bar.scoreCount + '%')}"></div>
			<div class="percentage mobile" ng-style="{width: (bar.scoreCount + '%')}"></div>
			<p>{{bar.themeDto.name}}</p>
		</div>
	</div>
</div>