<div class="nav">
    <div class="wrapper clearfix">
        <div class="social-wrapper">
            <div class="share-title pull-left"><h3>{{ $ctrl.getTitleForMenu() }}</h3></div>
            <icon-font icon-class="icon-facebook" ng-click="$ctrl.shareFacebook()"></icon-font>
            <icon-font icon-class="icon-twitter" ng-click="$ctrl.shareTwitter()"></icon-font>
            <icon-font icon-class="icon-email" ng-click="$ctrl.shareEmail()"></icon-font>
            <!--<div class="btn-whatsapp"></div>-->
        </div>
    </div>
</div>	

