<div class="statement-container">
    <div class="wrapper clearfix">

        <div class="container statement">

            <div class="full-width-sm">

                <div ng-show="!statement" class="row">
                    <h1>Vragen voor het thema: {{ theme.name }}</h1>
                    <ul>
                        <li ng-repeat="statement in statements">
                            <div class="icon-container">
                                <div icon-font icon-class="icon-edit" ng-click="editStatement($index)" class="icon" title="Vraag bewerken"></div>
                                <div icon-font icon-class="icon-delete" ng-click="deleteStatement($index)" class="icon" title="Vraag verwijderen"></div>
                            </div>

                            <div class="statement-button"><p>{{ statement.text }}</p></div>
                        </li>
                    </ul>
                    <div class="button-container">
                        <button type="button" ng-click="newStatement()"><span>Vraag toevoegen</span></button>
                        <button type="button" ng-click="goBack()"><span>Terug</span></button>
                    </div>
                </div>

                <div ng-show="statement" class="row">
                    <p ng-show="statement.id && statement.id != ''">Vraag bewerken</p>

                    <p ng-show="!statement.id">Vraag toevoegen</p>

                    <form name="statement-form" action="">
                        <fieldset>

                            <div class="row">
                                <label>Type:</label>

                                <label>
                                    <input ng-model="statement.type" type="radio" value="statement"/>Statement
                                </label>
                                <label>
                                    <input ng-model="statement.type" type="radio" value="multiple"/>Multiple choice
                                </label>
                            </div>

                            <label>Vraag:</label>
                            <input id="name" type="text" class="form-control" name="name" ng-model="statement.text"
                                    placeHolder="Stel een vraag"/>

                            <label for="info">Uitleg:</label>
                            <textarea id="info" type="text" class="form-control" name="informatie" ng-model="statement.info"
                                    placeHolder="Geef uitleg over het antwoord"></textarea>

                            <label>Antwoorden:</label>

                            <div ng-switch="statement.type">
                                <div ng-switch-when="statement">
                                    <div class="statement-radio">
                                        <label>
                                            <input ng-model="statement.correctChoice" type="radio" value="0"/>Goed
                                        </label>
                                        <label>
                                            <input ng-model="statement.correctChoice" type="radio" value="1"/>Fout
                                        </label>
                                    </div>
                                </div>
                                <div ng-switch-when="multiple">
                                    <div class="multiple-radio">
                                        <input ng-model="statement.correctChoice" type="radio" value="0"/>
                                        <input id="answer1" type="text" class="form-control" name="answer1"
                                                placeHolder="Antwoord 1" ng-model="statement.choices[0]"/>
                                    </div>
                                    <div class="multiple-radio">
                                        <input ng-model="statement.correctChoice" type="radio" value="1"/>
                                        <input id="answer2" type="text" class="form-control" name="answer2"
                                                placeHolder="Antwoord 2" ng-model="statement.choices[1]"/>
                                    </div>
                                    <div class="multiple-radio">
                                        <input ng-model="statement.correctChoice" type="radio" value="2"/>
                                        <input id="answer3" type="text" class="form-control" name="answer3"
                                                placeHolder="Antwoord 3" ng-model="statement.choices[2]"/>
                                    </div>
                                    <div class="multiple-radio">
                                        <input ng-model="statement.correctChoice" type="radio" value="3"/>
                                        <input id="answer4" type="text" class="form-control" name="answer4"
                                                placeHolder="Antwoord 4" ng-model="statement.choices[3]"/>
                                    </div>
                                    <div class="multiple-radio">
                                        <input ng-model="statement.correctChoice" type="radio" value="4"/>
                                        <input id="answer5" type="text" class="form-control" name="answer5"
                                                placeHolder="Antwoord 5" ng-model="statement.choices[4]"/>
                                    </div>
                                    <div class="multiple-radio">
                                        <input ng-model="statement.correctChoice" type="radio" value="5"/>
                                        <input id="answer6" type="text" class="form-control" name="answer6"
                                                placeHolder="Antwoord 6" ng-model="statement.choices[5]"/>
                                    </div>
                                </div>
                            </div>
                            <div class="button-container">
                                <button type="button" ng-click="save()" ng-disabled="isSaving"><span>Opslaan</span></button>
                            </div>

                            <div class="row">
                                <div class="image-container" image-thumb image-id="statement.id"
                                        image-url="parseImageUrl(statement.id)"></div>

                                <div upload-file question-id="statement.id"></div>
                            </div>

                            <div class="button-container">
                                <button type="button" ng-click="cancel()"><span>Terug</span></button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>	

