<div class="theme-container">
    <div class="wrapper clearfix">

        <div class="container theme">

            <div class="full-width-sm">

                <div ng-show="!theme" class="row">
                    <p>Thema's bewerken</p>

                    <ul>
                        <li ng-repeat="theme in themes">
                            <div class="icon-container">
                                <div icon-font icon-class="icon-edit" ng-click="editTheme($index)" class="icon" title="Thema bewerken"></div>
                                <div icon-font icon-class="icon-delete" ng-click="deleteTheme($index)" class="icon" title="Thema verwijderen"></div>
                            </div>
                            <div class="cms-button" ng-click="selectTheme($index)" title="Thema selecteren"><p>{{ theme.name }}</p></div>
                        </li>
                    </ul>
                    <div class="button-container">
                        <button type="button" ng-click="newTheme()"><span>Thema toevoegen</span></button>
                        <button type="button" ng-click="goBack()"><span>Terug</span></button>
                    </div>
                </div>

                <div ng-show="theme" class="row">
                    <p ng-show="theme.id > 0">Thema bewerken</p>

                    <p ng-show="theme.id === 0">Thema toevoegen</p>

                    <form name="theme-form" action="">
                        <fieldset>
                            <input type="text" class="form-control" name="name" placeHolder="naam"
                                   ng-model="theme.name"/>
                            <textarea type="text" class="form-control" name="description" placeHolder="beschrijving"
                                      ng-model="theme.description"></textarea>

                            <div class="button-container">
                                <button type="button" ng-click="save()"><span>Opslaan</span></button>
                                <button type="button" ng-click="cancel()"><span>Terug</span></button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>	

