<div class="result-container">
    <div class="wrapper clearfix">

        <div class="container result">

            <div class="full-width-sm">
                <div class="row">
                    <p>Scores</p>

                    <div class="winner-container">
                        <p>Winnaar: {{ $ctrl.winner.email }}</p>
                        <button ng-click="$ctrl.selectWinner()" ng-disabled="$ctrl.winner"><span>Kies een winnaar</span></button>
                    </div>

                    <div class="person-container">
                        <p>Totaal aantal scores: {{ $ctrl.scores.length }}</p>
                        <ul>
                            <li ng-repeat="score in $ctrl.scores | orderBy:'scoreCount':true" ng-click="$ctrl.showPerson(score)">
                                <p class="col-xs-3" title="{{score.name}}">{{ score.name }}</p>

                                <p class="col-xs-6" title="{{score.email}}">{{ score.email }}</p>

                                <p class="col-xs-1" title="{{score.scoreCount}}">{{ score.scoreCount }}</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>	

