<div class="user-container">
    <div class="wrapper clearfix">

        <div class="container user">

            <div class="full-width-sm">

                <div class="form-container">
                    <div class="row">
                        <h1>{{ 'info.title' | translate }}</h1>
                    </div>
                    <div class="row">
                        <div class="column-button">

                            <div ng-switch="$ctrl.client">
                                <div ng-switch-when="hardenberg"><form-hardenberg user="$ctrl.user"></form-hardenberg></div>
                                <div ng-switch-when="spov"><form-spov user="$ctrl.user"></form-spov></div>
                                <div ng-switch-when="verkiezingen"><form-verkiezingen user="$ctrl.user"></form-verkiezingen></div>
                                <div ng-switch-when="roc"><form-roc user="$ctrl.user"></form-roc></div>
                                <div ng-switch-when="coen"><form-coen user="$ctrl.user"></form-coen></div>
                            </div>

                            <toggle-question question="$ctrl.question1" button-class="'info'"></toggle-question>

                            <div class="required-message">{{ 'info.required.message' | translate }}</div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>	

