<header class="primary">
    <div class="full-width-sm">
        <div class="row header-container">
            <header-logo></header-logo>
            <burger-menu></burger-menu>
            <header-logo2></header-logo2>
        </div>
        <div class="row bullet-navigate-container">
            <bullet-bar></bullet-bar>
        </div>
    </div>
</header>
