<div ng-show="$ctrl.menu.showHeader" class="burger-menu" dropdown>
    <div dropdown-toggle class="dropdown-toggle">
        <icon-font icon-class="icon-burger" class="icon-burger menu" href="#" title="info"
            ng-class="{active: $ctrl.isOpen}" ng-click="$ctrl.toggleMenu()"></icon-font>
    </div>
    <div class="dropdown-menu" role="menu">
        <ul>
            <li ng-repeat="item in $ctrl.items" ng-click="$ctrl.select(item)">
                <span>{{ item.title | translate }}</span>
            </li>
        </ul>
    </div>
</div>