@import "../../sass/variables/variables";

.toggle-info-container {
  position: absolute;
  top: 170px;
  right: 20px;
  left: 20px;
  margin: 0 auto;
  padding: 0px 40px;
  overflow: hidden;
  overflow-y: auto;
  background-color: $coen-white;
  z-index: 9999;

  @media (max-width: $screen-tablet) {
    right: 10px;
    left: 10px;
    padding: 0px 30px;
  }

  @media (max-width: $screen-phone) {
    top: 100px;
    right: 0;
    left: 0;
    padding: 0 20px 40px;
  }

  @media (max-width: $screen-mini) {
    top: 90px;
    padding: 0 15px 30px;
  }

  h3 {
    color: $coen-darkgrey;
    margin: 0 auto;
    padding-bottom: 20px;
  }

  .icon-close {
    right: 0px;
  }

  .title {
    float: left;
    width: 100%;
    margin: 0 auto;
    padding-top: 40px;

    @media (max-width: $screen-tablet) {
      padding-top: 30px;
    }

    @media (max-width: $screen-phone) {
      padding-top: 20px;
    }

    @media (max-width: $screen-mini) {
      padding-top: 15px;
    }

    h1 {
      float: left;
      margin: 0px 0px 10px;

      @media (max-width: $screen-phone) {
        font-size: 16pt;
      }
    }
  }

  .text {
    float: left;
    width: 100%;
    margin: 0px auto;
    padding: 0 0 60px;
    text-align: left;

    @media (max-width: $screen-phone) {
      padding-bottom: 48px;
    }

    p {
      position: relative;
      float: left;
      font-family: $coen-font-light;
      display: inline-block;
      background: none;
      text-transform: none;
      color: $coen-darkgrey;
      margin: 0 auto;
      padding: 0 0 60px;
      line-height: 2;
      font-weight: bold;
      font-size: 14pt;

      @media (max-width: $screen-tablet) {
        font-size: 14pt;
        line-height: 1.6;
      }

      @media (max-width: $screen-phone) {
        font-size: 12pt;
        line-height: 1.4;
        padding-bottom: 48px;
      }
    }

    a {
      font-family: $coen-font-roman;
      background: none;
      color: $coen-darkgrey;
      text-transform: none;
      padding: 0;
      margin: 0;
      font-weight: bold;
      line-height: 1.4;
      font-size: 14pt;

      @media (max-width: $screen-tablet) {
        font-size: 14pt;
        line-height: 1.6;
      }

      @media (max-width: $screen-phone) {
        font-size: 12pt;
        line-height: 1.2;
      }
    }

    &.info {
      padding-top: 30px;

      h3 {
        position: relative;
        float: left;
        font-family: $coen-font-light;
        display: inline-block;
        background: none;
        text-transform: none;
        color: $coen-darkgrey;
        margin: 0 auto;
        padding: 0;
        line-height: 1.4;
        font-weight: 700;
        font-size: 14pt;
      }

      p {
        padding-bottom: 20px;

        @media (max-width: $screen-phone) {
          padding-bottom: 10px;
        }
      }
    }
  }
}