@import "../variables/variables";

.header-logo {
  float: right;
  margin: 0 auto;
  width: 100px;
  height: 60px;
  background: $coen-header-background url($coen-logo) 15px 5px no-repeat;
  background: linear-gradient(transparent, transparent) repeat scroll 0 0%, url($coen-logo-svg) no-repeat scroll 15px 5px rgba(0, 0, 0, 0);
  -webkit-background-size: 72px;
  background-size: 72px;
  cursor: pointer;

  @media (max-width: $screen-mini) {
    background: $coen-header-background url($coen-logo) 5px 9px no-repeat;
    background: linear-gradient(transparent, transparent), $coen-header-background url($coen-logo-svg) no-repeat scroll 10px 7px;
    height: 40px;
    background-size: 50px;
  }
}

.home-logo {
  margin: 0 auto;
  width: 308px;
  height: 164px;
  background: $coen-home-background url($coen-logo-home) 0 0 no-repeat;
  background: linear-gradient(transparent, transparent) $coen-home-background url($coen-logo-home-svg) no-repeat scroll 0 0 rgba(0, 0, 0, 0);

  @media (max-width: $screen-mini) {
    background: $coen-home-background url($coen-logo-home) 0 0 no-repeat;
    background: linear-gradient(transparent, transparent) $coen-home-background url($coen-logo-home-svg) no-repeat scroll 0 0;
    width: 100px;
    background-size: 100px;
  }
}

.home-container {

  .home-icon-container-holder {
    display: none;
  }

  .home-logo-container-holder {
    display: block;
    margin-top: 140px;

    .home-logo {
      position: relative;
    }
  }

  .text-container {
    top: 400px !important;

    @media (max-width: $screen-tablet) {
      top: 260px !important;
    }

    @media (max-width: $screen-mini) {
      top: 100px !important;
    }
  }
}

.result-container {
  margin-top: 40px;

  .low {
    margin-top: 60px !important;
  }
}


footer{
    .nav-container{
        .nav.home{
          background-color: #fafafa !important;
          border-top: 1px solid rgba(0,0,0,0.15) !important;
        }
    }
}

footer .full-width-sm .row .nav-container .nav{
  background-color: $coen-footer-background;
  border-top: 1px solid rgba(0,0,0,0.15) !important;
}

header .full-width-sm .row.header-container{
  background-color: #fff;
  z-index: 9999;
  position: relative;
  box-shadow: 0px 1px 2px 0 rgba(0,0,0,0.15);
}

.bullet-bar-container .bullet-bread-bar .bullet-step .bullet-bar-line{
  top: 80px;
}


#page-holder.home, #page-holder.einde{
  background:$coen-white;
}

.home-container .wrapper .home .full-width-sm .text-container{
  background:$coen-white;
}