@import "../variables/variables";

.header-logo {
  float: right;
  margin: 0 auto;
  width: 100px;
  height: 60px;
  background: $coen-header-background url($coen-logo) 15px 5px no-repeat;
  background: linear-gradient(transparent, transparent) repeat scroll 0 0%, url($coen-logo-svg) no-repeat scroll 15px 5px rgba(0, 0, 0, 0);
  background-size: 88px;
  cursor: pointer;

  @media (max-width: $screen-mini) {
    background: $coen-header-background url($coen-logo) 5px 9px no-repeat;
    background: linear-gradient(transparent, transparent), $coen-header-background url($coen-logo-svg) no-repeat scroll 10px 7px;
    height: 40px;
    background-size: 50px;
  }
}

.home-container {

  .home-icon-container-holder,
  .home-teaser-subtitle,
  .home-logo-container-holder {
    display: none;
  }

  .wrapper {
    .home {
      .full-width-sm {
        .text-container {
          top: 162px;

          @media (max-width: $screen-tablet) {
            top: 100px;
          }
        }
      }
    }
  }
}

.end-container {
  .icon-spov-flower {
    display: none;
  }
  .end-close-text {
    display: none;
  }
}

.button-info {
  display: none;
}