@import "../variables/variables";

.header-logo {
  float: left;
  margin: 0 auto;
  width: 220px;
  height: 60px;
  background: $coen-header-background url($coen-logo) 15px 5px no-repeat;
  background: linear-gradient(transparent, transparent) repeat scroll 0 0%, url($coen-logo-svg) no-repeat scroll 15px 5px rgba(0, 0, 0, 0);
  -webkit-background-size: 170px 52px;
  background-size: 170px 52px;
  cursor: pointer;

  @media (max-width: $screen-phone) {
    background: $coen-header-background url($coen-logo) 25px 15px no-repeat;
    background: linear-gradient(transparent, transparent), $coen-header-background url($coen-logo-svg) no-repeat scroll 15px 14px;
    width: 180px;
    background-size: 140px;
  }

  @media (max-width: $screen-mini) {
    background: $coen-header-background url($coen-logo) 5px 9px no-repeat;
    background: linear-gradient(transparent, transparent), $coen-header-background url($coen-logo-svg) no-repeat scroll 10px 7px;
    width: 140px;
    background-size: 120px;
    height: 40px;
  }
}

/** overwrite the css margins for the start button on the home page **/
.start-test-container {

  .center {
    .icon {
      margin: 8px 0 0 150px !important;
    }

    .text {
      margin: 8px 20px 8px -80px !important;
    }
  }

  @media (max-width: $screen-tablet) {
    .center {
      .icon {
        margin: 16px 0 0 110px !important;
      }

      .text {
        margin: 26px 20px 8px -80px !important;
      }
    }
  }

  @media (max-width: $screen-phone) {
    .center {
      .icon {
        margin: 25px 0 0 80px !important;
      }

      .text {
        margin: 26px 20px 8px -40px !important;
      }
    }
  }

  @media (max-width: $screen-mini) {
    .center {
      .icon {
        margin: 25px 0 0 65px !important;
      }

      .text {
        margin: 28px 20px 8px -30px !important;
      }
    }
  }
}

.logo-vitaal-vechtdal {
  float: none;
  margin: 0 auto;
  width: 180px;
  height: 176px;
  background: $coen-header-background url($coen-logo-vitaal-vechtdal-large) 0px 0px no-repeat;
  cursor: pointer;

  @media (max-width: $screen-phone) {
    background: $coen-header-background url($coen-logo-vitaal-vechtdal-medium) 0px 0px no-repeat;
    width: 120px;
    height: 118px;
  }

  @media (max-width: $screen-mini) {
    background: $coen-header-background url($coen-logo-vitaal-vechtdal-small) 0px 0px no-repeat;
    width: 60px;
    height: 59px;
  }
}

.home-container {

  .wrapper {
    .home {
      .full-width-sm {
        .text-container {
          top: 442px;

          @media (max-width: $screen-phone) {
            top: 360px;
          }
        }
      }
    }
  }

  .home-icon-container-holder {
    display: block;
  }

  .home-logo-container-holder {
    display: none;
  }
}

// icons for the home page
.icon-field {
  .icon {

    &.icon-drugs,
    &.icon-alcohol,
    &.icon-smoking,
    &.icon-intro {
      position: relative;
      float: none;
      width: 148px;
      height: 148px;
      fill: $coen-text-icon-home-color;
      cursor: default;
    }

    &.icon-drugs {
      top: 0px;
      margin: 84px 270px 0 0;
      background: $icon-drugs;
    }

    &.icon-alcohol {
      top: 0px;
      margin: 32px 0px 0px 0px;
      background: $icon-alcohol;
    }

    &.icon-smoking {
      top: 0px;
      margin: 84px 0 0 270px;
      background: $icon-smoking;
    }

    &.icon-intro {
      background: $icon-intro;
      width: 260px;
      height: 260px;
      top: 172px;
    }

    @media (max-width: $screen-phone) {
      &.icon-drugs {
        top: 0px;
        margin: 0px 200px 0 0;
        width: 112px;
      }

      &.icon-alcohol {
        top: 0px;
        margin: -38px 0px 0px 0px;
        width: 112px;
      }

      &.icon-smoking {
        top: 0px;
        margin: 0px 0 0 200px;
        width: 112px;
      }

      &.icon-intro {
        position: absolute;
        width: 200px;
        height: 200px;
        top: 70px;
        left: 50%;
        margin-left: -100px;
      }
    }

    @media (max-width: $screen-mini) {
      &.icon-drugs {
        top: -10px;
        margin: 0px 180px 0 0;
        width: 98px;
      }

      &.icon-alcohol {
        top: -4px;
        margin: -38px 0px 0px 0px;
        width: 98px;
      }

      &.icon-smoking {
        top: -10px;
        margin: 0px 0 0 180px;
        width: 98px;
      }

      &.icon-intro {
        position: absolute;
        width: 184px;
        height: 200px;
        top: 52px;
        left: 50%;
        margin-left: -92px;
      }
    }

  }
}

.button-info {
  display: none;
}