@import "../variables/variables";

h1, h2, p, a {
  text-transform: none !important;
}

h1 {
  font-weight: 700 !important;
}

h3 {
  text-transform: uppercase !important;
}

#page-holder {
  @include linear-background($spov-background-green, $spov-background-orange);

  &.home,
  &.end {
    @include linear-background($spov-background-green, $spov-background-orange);

    .header-container {
      display: none;
    }
  }

  &.statement {
    .bullet-navigate-container {
      .nav {
        background: none;
      }
    }
  }

  .container {
    &.about,
    &.user,
    &.result,
    &.end {
      @include linear-background($spov-background-green, $spov-background-orange);
    }
  }
}

.home-container {

  .wrapper {
    .home {
      padding: 50px 0px 50px 0px;

      .full-width-sm {

        .home-logo-container-holder {
          display: block;

          .home-logo {
            float: none;
            margin: 0 auto;
            width: 120px;
            height: 40px;
            background: url($coen-logo-home) 0 0 no-repeat;
            background-size: 120px 40px;
            cursor: pointer;

            @media (max-width: $screen-mini) {
              margin: 5px 15px;
              width: 90px;
              height: 30px;
              background-size: 90px 30px;
            }
          }
        }

        .text-container {
          display: none;
        }

        .text-cloud {
          position: relative;
          float: none;
          margin: 0 auto;
          text-align: center;
          top: 124px;
          width: 520px;
          height: 300px;
          padding: 15px;
          background: none url($coen-home-cloud) 0 0 no-repeat;
          background: linear-gradient(transparent, transparent) repeat scroll 0 0, url($coen-home-cloud) no-repeat scroll 0 0 rgba(0, 0, 0, 0);
          background-size: 520px 300px;

          @media (max-width: $screen-tablet) {
            top: 80px;
          }

          @media (max-width: $screen-phone) {
            top: 110px;
            width: 320px;
            height: 180px;
            background-size: 320px 180px;
          }

          @media (max-width: $screen-mini) {
            top: 120px;
            width: 240px;
            height: 140px;
            background-size: 240px 140px;
          }
        }
      }
    }
  }

}

.statement-container {
  .statement {
    .gradient-container {
      display: none;
    }

    .text-container {
      h1 {
        background-color: $coen-white;
      }
    }

    .button-info {
      display: block;
      left: 35px;
      top: 130px;
      right: auto;

      @media (max-width: $screen-phone) {
        left: 20px;
        top: 100px;
      }

      .icon {
        width: 28px;
        height: 28px;
      }
    }

    .toggle-info-container {
      .text {
        padding: 60px 0;
      }
    }
  }
}

.end-container {

  .container {
    &.end {
      padding: 30px 0 100px 0;

      .text-container {
        &.sponsor {
          display: none;
        }
      }

      .end-social-text,
      .end-close-text {
        display: block;
      }

      .icon-spov-flower {
        display: block;
        float: none;
        margin: 0 auto;
        width: 64px;
        height: 85px;
        background: url($coen-flower) 0 0 no-repeat;
        background: linear-gradient(transparent, transparent) repeat scroll 0 0%, url($coen-flower) no-repeat scroll 0 0 rgba(0, 0, 0, 0);
        background-size: 64px 85px;
      }

      .coen-close-app {
        display: block;
        width: 100%;
        float: left;

        .button-close {
          cursor: pointer;
        }
      }
    }
  }
}

header {
  .full-width-sm {

    .header-container {
      height: 50px;

      .header-logo {
        cursor: pointer;
        float: right;
        margin: 10px 25px;
        width: 90px;
        height: 30px;
        background: $coen-header-background url($coen-logo) 0 0 no-repeat;
        background: linear-gradient(transparent, transparent) repeat scroll 0 0%, url($coen-logo-svg) no-repeat scroll 0 0 rgba(0, 0, 0, 0);
        background-size: 90px 30px;

        @media (max-width: $screen-mini) {
          margin: 5px 15px;
          width: 90px;
          height: 30px;
          background-size: 90px 30px;
        }
      }

      .burger-menu {
        display: none;

        .dropdown-menu {
          background-color: $coen-white;
        }
      }
    }

    .bullet-navigate-container {
      .nav {
        @include linear-background($spov-background-green, $spov-background-orange);

        .bullet-bar-container {
          .bullet-bread-bar {
            .bullet-step {
              .bullet-bar-line {
                top: 71px;

                @media (max-width: $screen-mini) {
                  top: 60px;
                }
              }
            }
          }
        }
      }
    }
  }
}

footer {
  .full-width-sm {
    .row {
      .nav-container {
        .start-test-container {
          .center {
            .text {

              @media (max-width: $screen-phone) {
                font-size: 14pt;
              }

              h3 {
                font-weight: 900;
                font-size: 24pt;

                @media (max-width: $screen-tablet) {
                  font-size: 18pt;
                }

                @media (max-width: $screen-phone) {
                  font-size: 14pt;
                }

                @media (max-width: $screen-mini) {
                  font-size: 12pt;
                }
              }
            }
          }
        }
      }
    }
  }
}