<div class="overview-container">
    <div class="wrapper clearfix">

        <div class="container overview">

            <div class="full-width-sm">
                <div class="row info">
                    <h1>{{ 'overview.message' | translate }}</h1>

                    <p class="text">{{ 'overview.important.message' | translate }}</p>

                    <div class="statement-container">
                        <div ng-repeat="vote in $ctrl.likedVotes">
                            <div class="rating-button" ng-click="$ctrl.toggleVoteImportant(vote)">
                                <div class="btn-rating" ng-class="{active: vote.important}"></div>
                                <h2 ng-class="{even: $event, odd: $odd}">{{ vote.statement.name }}</h2>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row chart">
                    <h3 class="chart-title">{{ 'overview.chart.title' | translate }}</h3>

                    <result-bars class="result-bars" results="$ctrl.allResults"></result-bars>
                    <result-bars class="result-bars mobile" results="$ctrl.allResults"></result-bars>

                    <div class="chart-legend" ng-show="false">
                        <div class="chart-icons">
                            <div class="icon-field like">
                                <h3>{{ 'overview.chart.agree' | translate }}</h3>
                            </div>
                            <div class="icon-field dislike">
                                <h3>{{ 'overview.chart.disagree' | translate }}</h3>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="column-button">
                        <toggle-question question="$ctrl.question1" button-class="'data'" important="true"></toggle-question>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>	

