<div class="menu-container">
    <div class="wrapper clearfix">

        <div class="container menu">

            <div class="full-width-sm">
                <div ng-show="!$ctrl.campaign" class="row">
                    <p>Campagnes bewerken</p>

                    <ul>
                        <li ng-repeat="campaign in $ctrl.campaigns">
                            <div class="icon-container">
                                <icon-font icon-class="icon-edit" ng-click="$ctrl.editCampaign($index)" class="icon"
                                    title="Campagne bewerken"></icon-font>
                            </div>
                            <div class="cms-button" ng-click="$ctrl.selectCampaign($index)" title="Campagne selecteren">
                                <p>{{ campaign.name }}</p>
                            </div>
                        </li>
                    </ul>
                </div>

                <div ng-show="$ctrl.campaign" class="row">
                    <p ng-show="$ctrl.campaign.id && $ctrl.campaign.id != ''">Campagne bewerken</p>
                    <p ng-show="!$ctrl.campaign.id">Campagne toevoegen</p>

                    <form name="campaign-form" action="">
                        <fieldset>
                            <label>
                                <input ng-model="$ctrl.campaign.active" type="radio" ng-value="true"/>Actief
                            </label>

                            <input type="text" class="form-control" name="name" placeHolder="naam"
                                ng-model="$ctrl.campaign.name"/>

                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>	

