@import "../../sass/variables/variables";

.login-container {
  width: 100%;
  height: 100%;
  text-align: center;
  margin: 0 auto;
  padding: 0px;
  box-sizing: border-box;

  .wrapper {
    width: 100%;
    box-sizing: border-box;

    .login {
      box-sizing: border-box;
      width: 100%;

      @media (max-width: $screen-tablet) {
        width: auto;
      }

      .full-width-sm {
        width: 100%;
        text-align: center;

        .row {
          width: auto;
          text-align: center;
          margin: 30px 10px 0px 10px;

          .column-button {
            margin: 0 auto;
            padding: 0;
            text-align: center;

            margin-left: 25%;
            @include make-sm-column(6);

            @media (max-width: $screen-tablet) {
              margin-left: 0px;
              @include make-sm-column(12);
            }
          }
        }
      }

      button {
        width: 340px;

        @media (max-width: $screen-phone) {
          width: 100%;
        }
      }

      form {
        margin: 0px auto;

        fieldset {

          input {
            width: 340px;
            margin: 5px 10px;
            padding: 8px 17px 8px 17px;
            background: none;
            border: 3px solid $coen-white;
            color: $coen-white;
            @include coen-border-radius(25px);
            text-transform: uppercase;
            font-size: 13pt;

            @media (max-width: $screen-phone) {
              margin: 0;
              width: 100%;
            }
          }
        }
      }

      .question {
        &.alert {
          border: 3px solid $coen-red;

          p {
            color: $coen-red;
          }
        }
      }

    }
  }
}