<div class="result-container">
    <div class="wrapper clearfix">
        <div class="container result">
            <div class="full-width-sm">

                <div class="row scores">
                    <h1 class="center">{{ 'result.all.profiles.text' | translate }}</h1>

                    <div ng-repeat="score in $ctrl.scores" class="result-block">
                        <profile-score ng-if="score.userCount > 0" score="score"></profile-score>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>	

