<div class="home-container">
    <div class="wrapper clearfix">
        <div class="container home">
            <div class="full-width-sm">
                <div class="col-sm-12 ">

                    <!-- spov logo container -->
                    <div class="home-logo-container-holder">
                        <div class="home-logo"></div>
                        <div class="text-cloud"></div>
                    </div>

                    <!-- hardenberg icon container -->
                    <div class="home-icon-container-holder">
                        <div class="icon-container">
                            <icon-font icon-class="icon-drugs" class="icon-field"></icon-font>
                        </div>
                        <div class="icon-container">
                            <icon-font icon-class="icon-alcohol" class="icon-field"></icon-font>
                        </div>
                        <div class="icon-container">
                            <icon-font icon-class="icon-smoking" class="icon-field"></icon-font>
                        </div>
                        <div class="icon-container">
                            <icon-font icon-class="icon-intro" class="icon-field"></icon-font>
                        </div>
                    </div>

                    <div class="text-container">
                        <div class="col-sm-12">
                            <h2 class="low"><text-format text="'home.teaser' | translate"></text-format></h2>
                            <p class="home-teaser-subtitle"><text-format text="'home.teaser.subtitle' | translate"></text-format></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>	

