@import "../../variables";

footer {
  button {
    margin: 5px 0px;
    padding: 7px 15px;

    span {
      color: #666;

      font-size: 11pt;
      font-weight: bolder;
    }
  }
  p {
    margin: 0;
    padding: 0 10px;
    color: #666;
    font-size: 9pt;

    @media (min-width: $screen-sm-min) {
      padding: 0;
    }
  }
  a {
    color: #002E6B;
    &:hover,
    &:focus,
    &:active {
      text-decoration: underline;
    }
  }

  .copyright {
    margin-top: 4px;
    float: right;

  }

  &.primary {
    width: 100%;
    height: 60px;
    position: fixed;
    bottom: 0px;
    background-color: $coen-black;
    z-index: 3;
    padding: 5px 0px;

    .btn-next {
      margin-left: 5px;
    }

    .btn-previous {
      margin-right: 5px;
    }

    .btn-open {
      margin-left: 75px;

      @media (max-width: $screen-phone) {
        margin-left: 0px;
      }
    }

    .btn-close {
      margin-right: 75px;

      @media (max-width: $screen-phone) {
        margin-right: 0px;
      }
    }

    .social-icons {

    }
  }

  .full-width-sm {
    .row {
      margin: 0 20px 0px 20px;
    }
  }

  button {
    background: none;
  }
}

.footer {
  .nav {
    .wrapper {
      width: 100%;
      text-align: center;
      padding-bottom: 20px;
    }
  }
}

@media (max-width: $screen-xs-max) {
  footer {
    &.primary {
      margin-top: 5px;
      .copyright {
        display: block;
        float: none;
      }
    }
  }
}