@import "../../sass/variables/variables";

statement-view {

  .statement {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 103px 0px 68px;
    overflow: hidden;
    overflow-y: auto;

    @media (max-width: $screen-mini) {
      padding: 90px 0px 68px;
    }

    .image-container {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: 0 auto;
      overflow: hidden;

      &.image-random-1 {
        @include linear-background(#EF207A, #C1272F);
      }

      &.image-random-2 {
        @include linear-background(#94C120, #F7B137);
      }

      &.image-random-3 {
        @include linear-background(#8DC641, #D7E023);
      }

      &.image-random-4 {
        @include linear-background(#BBCCD4, #24B574);
      }

      img {
        position: absolute;
        top: 50px;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        background-position: center center !important;
      }
    }

    .gradient-container {
      content: '';
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      height: 460px;
      @include coen-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
    }

    .question-container {
      position: absolute;

      textarea {
        width: 93%;
        height: 180px;
        resize: none;
        border: 1px solid $coen-grey;
        background: $coen-background-alpha-text;
      }
    }

    .text-container {
      position: relative;
      float: left;
      margin: 60px 0 0 0;
      padding: 0 15px;

      @media (max-width: $screen-phone) {
        margin: 40px 0 0 0;
      }

      h1 {
        cursor: default;
        color: $coen-text-statement-color;
        padding: 10px;

        @media (max-width: $screen-phone) {
          font-size: 22pt;
          margin: 0 5px 5px 5px;
          line-height: 1.1em;
        }

        @media (max-width: $screen-mini) {
          font-size: 16pt;
          margin: 0 5px;
        }
      }
    }

    .statement-answer-container {
      padding: 0 15px;

      @media (max-width: $screen-phone) {
        padding: 0;
      }

      ul {
        position: relative;
        float: left;
        width: 100%;
        margin: 30px 10px;
        padding: 0px 0px 100px;

        @media (max-width: $screen-phone) {
          margin: 10px auto;
        }

        li {
          position: relative !important;
          float: left;
          width: 100%;
          text-align: left;
          line-height: 1.6em;
          text-shadow: none;
          background: none;
          box-shadow: none;

          h2 {
            position: relative;
            float: left;
            width: auto;
            font-size: 18pt;
            margin: 10px 20px 5px 20px;
            padding: 4px 5px;
            background-color: $coen-answer-background;
            color: $coen-answer-text;
            cursor: pointer;

            &.selected {
              background-color: $coen-answer-background-selected;
              color: $coen-answer-text-selected;
            }

            @media (max-width: $screen-tablet) {
              font-size: 15pt;
            }

            @media (max-width: $screen-phone) {
              font-size: 13pt;
              line-height: 1.1em;
            }

            @media (max-width: $screen-mini) {
              font-size: 11pt;
            }
          }
        }
      }
    }

    .info-container {
      position: absolute;
      top: 120px;
      right: 30px;

      @media (max-width: $screen-mini) {
        top: 112px;
        right: 16px;
      }

    }
  }
}