<div class="statement">

    <image-thumb class="image-container" image-id="$ctrl.answer.questionId"
        image-url="$ctrl.parseImageUrl($ctrl.answer.questionId)"></image-thumb>
    <div class="gradient-container"></div>

    <div class="question-container" ng-switch="$ctrl.answer.type">

        <!-- true/false question -->
        <div ng-switch-when="question">
            <div class="text-container"><h1>{{ $ctrl.answer.text }}</h1></div>
        </div>

        <!-- multiple choice question -->
        <div ng-switch-when="multiple">
            <div class="text-container"><h1>{{ $ctrl.answer.text }}</h1></div>

            <div class="statement-answer-container">
                <ul>
                    <li class="jtinder-answer" ng-repeat="choice in $ctrl.answer.choices"
                        ng-click="$ctrl.selectAnswer(answer, $index)">
                        <h2 class="jtinder-answer" ng-class="{'selected': $index == $ctrl.currentAnswer}">
                            {{ choice }}
                        </h2>
                    </li>
                </ul>
            </div>
        </div>

        <!-- like/swipe question -->
        <div ng-switch-when="statement">
            <div class="text-container"><h1>{{ $ctrl.answer.text }}</h1></div>
        </div>

        <!-- multi select -->
        <div ng-switch-when="multiselect">
            <div class="text-container"><h1>{{ $ctrl.answer.text }}</h1></div>

            <div class="statement-answer-container">
                <ul>
                    <li class="jtinder-answer" ng-repeat="choice in $ctrl.answer.choices"
                        ng-click="$ctrl.selectAnswer(answer, $index)">
                        <h2 class="jtinder-answer" ng-class="{'selected': $index == $ctrl.currentAnswer}">
                            {{ choice }}
                        </h2>
                    </li>
                </ul>
            </div>
        </div>

        <!-- open question -->
        <div ng-switch-when="open">
            <div class="text-container"><h1>{{ $ctrl.answer.text }}</h1></div>
            <textarea ng-model="$ctrl.answer.submittedAnswer" class="jtinder-input"></textarea>
        </div>
    </div>

    <div id="button_info" ng-if="$ctrl.info && $ctrl.info.description" ng-click="$ctrl.getInfo()">
        <icon-font icon-class="icon-info" class="button-info"></icon-font>
    </div>

    <div ng-if="$ctrl.showInfo" class="popup-container">
        <div class="wrapper">
            <div class="popup">
                <toggle-info info="$ctrl.info" type="'description'"></toggle-info>
            </div>
        </div>
    </div>
</div>