<div class="home-container">
    <div class="wrapper clearfix">
        <div class="container home about">

            <div class="full-width-sm">
                <h1>{{ 'about.title' | translate }}</h1>
                <div class="row">
                    <div class="column-question">
                        <div toggle-question class="question-right" question="question1"></div>
                        <div toggle-question class="question-right" question="question2"></div>
                    </div>
                    <div class="column-question">
                        <div toggle-question class="question-left" question="question3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>	

