<div class="overview-container home-container">
    <div class="wrapper clearfix">

        <div class="container overview home no-padding">

            <div class="full-width-sm">

                <div class="row chart white">
                    <h3 class="chart-title">Onderwerpen</h3>

                    <div result-bars class="result-bars" results="allResults"></div>
                    <div result-bars class="result-bars mobile" results="allResults"></div>

                    <div class="chart-legend" ng-show="false">
                        <div class="chart-icons">
                            <div class="icon-field like">
                                <h3>Eens</h3>
                            </div>
                            <div class="icon-field dislike">
                                <h3>Oneens</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="full-width-sm">

                <div class="row">
                    <h2>Zoveel mensen hebben de app ook ingevuld.</h2>

                    <div cool-voters active="false"></div>

                    <h2>Daarvan gaan deze mensen stemmen.</h2>

                    <div cool-voters active="true"></div>
                </div>

                <div class="row">
                    <div class="column-button">
                        <div toggle-question class="question-red" question="question1" button-class="'data'" important="true"></div>
                    </div>
                </div>
                <div class="row">
                    <h3>Voor meer informatie ga naar <a ng-href="http://www.brabant.nl/jongeren">brabant.nl/jongeren</a></h3>
                </div>
            </div>
        </div>
    </div>
</div>	

