<div class="popup-container popup">
    <div class="wrapper clearfix">
        <div class="container popup">
            <div toggle-info info="info" type="burger"></div>
            <div social-post></div>
        </div>
    </div>
</div>	

