<div class="home-container">
    <div class="wrapper clearfix">
        <div class="container home reminder">

            <div class="full-width-sm">
                <h1>Wil je een reminder instellen voor de provinciale staten verkiezingen?</h1>
                <div class="row">
                    <div class="column-question">
                        <div toggle-question class="question-right" question="question1" button-class="'email'" field-value="user.email"></div>
                        <div toggle-question class="question-right" question="question3" button-class="'phone'" field-value="user.phone"></div>
                    </div>
                    <div class="column-question">
                        <div toggle-question class="question-left" question="question2" button-class="'agenda'"></div>
                        <div toggle-question class="question-left" question="question4" button-class="'skip'"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>	

