@import "../../sass/variables/variables";

#tinderslide {

  ul {
    margin: 0;
    position: relative;
    display: block;
    height: 100%;

    li {
      display: block;
      width: 100%;
      height: 100%;
      overflow: hidden;
      position: absolute;
      top: 0;
      left: 0;
      overflow: hidden;
      text-align: center;
      padding: 10px 10px 10px 10px;

      font-size: 24px;
      -webkit-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
      -moz-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
      -ms-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
      -o-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
      transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
      backface-visibility: hidden;
      -webkit-backface-visibility: hidden;

      .like,
      .dislike {
        //background: url("../../../assets/img/button-nav-like.png") no-repeat scroll 0 0;
        opacity: 0;
        height: 80px;
        position: absolute;
        width: 170px;
        left: 45px;
        top: 40px;
        z-index: 1;
        overflow: hidden;
        -webkit-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
        -moz-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
        -ms-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
        -o-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
        transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
      }

      .dislike {
        right: 45px;
        left: auto;
        //background: url("../../../assets/img/icons/button-nav-dislike.png") no-repeat scroll 0 0;
      }

      .img {
        height: 90%;
        width: 100%;
        margin-bottom: 5px;
        position: relative;
        -webkit-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
        -moz-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
        -ms-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
        -o-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
        transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
        overflow: hidden;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
        -webkit-transform-style: preserve-3d;
      }
    }
  }
}
