@import "../variables/variables";

button {
  margin: 5px 10px;
  padding: 8px 17px 8px 17px;
  background: none;
  border: 3px solid $coen-white;
  @include coen-border-radius($coen-button-border-radius);

  span {
    text-transform: uppercase;
    font-size: 13pt;
    color: $coen-white;
  }
}

.icon {
  cursor: pointer;
  width: $coen-icon-size-big;
  height: $coen-icon-size-big;
}

//
// ICONS
//
.btn-ruler {
  border-left: 1px solid $coen-icon-color;
  height: 100%;
  width: 1px;

  &.pull-left {
    margin-left: 5px;

    &.menu {
      margin-left: 35px;
    }
  }

  &.pull-right {
    margin-right: 5px;

    &.menu {
      margin-right: 35px;
    }
  }
}

.icon-right {
  cursor: pointer;
  margin: 24px 30px 0px 0px;
  width: 32px;
  height: 32px;
  fill: $coen-icon-color;
  stroke: $coen-icon-color;

  @media (max-width: $screen-mini) {
    width: $coen-icon-size-mini;
    height: $coen-icon-size-mini;
    margin-top: 21px;
  }
}

.icon-left {
  cursor: pointer;
  margin: 24px 0px 0px 30px;
  width: 32px;
  height: 32px;
  fill: $coen-icon-color;
  stroke: $coen-icon-color;

  @media (max-width: $screen-mini) {
    width: $coen-icon-size-mini;
    height: $coen-icon-size-mini;
  }
}

// navigate buttons
.icon-navigate-right {
  margin: 8px;
  width: $coen-icon-size-big;
  height: $coen-icon-size-big;
  fill: $coen-icon-color;
  stroke: $coen-icon-color;

  &.disabled {
    cursor: default;
    color: $coen-icon-color-disabled;
  }

  @media (max-width: $screen-phone) {
    margin: 16px 9px;
    width: $coen-icon-size-small;
    height: $coen-icon-size-small;
  }

  @media (max-width: $screen-mini) {
    margin: 10px;
  }
}

.icon-thumb-up,
.icon-correct {
  cursor: pointer;
  margin: 8px;
  width: $coen-icon-size-big;
  height: $coen-icon-size-big;
  fill: $coen-icon-color;
  stroke: $coen-icon-color;

  @media (max-width: $screen-phone) {
    margin: 16px 9px;
    width: $coen-icon-size-small;
    height: $coen-icon-size-small;
  }

  @media (max-width: $screen-mini) {
    margin: 10px;
  }
}

.icon-thumb-down,
.icon-incorrect {
  cursor: pointer;
  margin: 8px;
  width: $coen-icon-size-big;
  height: $coen-icon-size-big;
  fill: $coen-icon-color;
  stroke: $coen-icon-color;

  @media (max-width: $screen-phone) {
    margin: 16px 9px;
    width: $coen-icon-size-small;
    height: $coen-icon-size-small;
  }

  @media (max-width: $screen-mini) {
    margin: 10px;
  }
}

// description popup close icon
.icon-close {
  position: absolute;
  right: 5px;
  top: 5px;
  margin: 5px;
  width: $coen-icon-size-mini;
  height: $coen-icon-size-mini;
}

// social buttons
.icon-facebook {
  cursor: pointer;
  width: $coen-icon-size-small;
  height: $coen-icon-size-small;
  fill: $coen-icon-social-color;
  stroke: $coen-icon-social-color;

  @media (max-width: $screen-mini) {
    width: $coen-icon-size-small;
    height: $coen-icon-size-small;
  }
}

.icon-twitter {
  cursor: pointer;
  width: $coen-icon-size-small;
  height: $coen-icon-size-small;
  fill: $coen-icon-social-color;
  stroke: $coen-icon-social-color;

  @media (max-width: $screen-mini) {
    width: $coen-icon-size-small;
    height: $coen-icon-size-small;
  }
}

.icon-email {
  cursor: pointer;
  width: $coen-icon-size-small;
  height: $coen-icon-size-small;
  fill: $coen-icon-social-color;
  stroke: $coen-icon-social-color;

  @media (max-width: $screen-mini) {
    width: $coen-icon-size-small;
    height: $coen-icon-size-small;
  }
}

// icons
.icon-info {
  .icon {
    cursor: pointer;
    width: $coen-icon-size-small;
    height: $coen-icon-size-small;
    fill: $coen-text-icon-color;
    stroke: $coen-text-icon-color;

    &.active {
      fill: $coen-text-icon-color-active;
    }

    @media (max-width: $screen-phone) {
      &.active {
        fill: $coen-text-icon-color-active;
      }
    }
  }
}

// icons
.icon-field {
  .icon {
    cursor: pointer;
    width: $coen-icon-size-small;
    height: $coen-icon-size-small;
    fill: $coen-text-icon-color;
    stroke: $coen-text-icon-color;
  }

  &.like {
    //background: $coen-icon-background url('../img/button-nav-like.png') -65px -5px no-repeat;

    @media (max-width: $screen-phone) {
      //background: $coen-icon-background url('../img/button-nav-like-s.png') -41px -2px no-repeat;
    }
  }

  &.dislike {
    //background: $coen-icon-background url('../img/button-nav-dislike.png') -64px -2px no-repeat;

    @media (max-width: $screen-phone) {
      //background: $coen-icon-background url('../img/button-nav-dislike-s.png') -41px -2px no-repeat;
    }
  }
}

// hamburger
.icon-burger {
  cursor: pointer;
  width: $coen-icon-size-small;
  height: $coen-icon-size-small;
  fill: $coen-icon-color;
  stroke: $coen-icon-color;

  @media (max-width: $screen-mini) {
    width: $coen-icon-size-mini;
    height: $coen-icon-size-mini;
  }

  &.active {
    color: $coen-icon-color;
  }
}

// statement info button
.button-info {
  position: absolute;
  right: 15px;
  top: 125px;
  background: none;
  box-shadow: none;
  cursor: pointer;

  .icon {
    width: $coen-icon-size-small;
    height: $coen-icon-size-small;
    fill: $coen-text-icon-home-color;
    stroke: $coen-text-icon-home-color;

    @media (max-width: $screen-mini) {
      width: $coen-icon-size-small;
      height: $coen-icon-size-small;
    }
  }

  &:hover {
    background: none;
    box-shadow: none;
  }
}

// chart info button
.btn-info-chart {
  cursor: pointer;
  width: 30px;
  height: 30px;
  background: $coen-white;
  @include coen-border-radius(15px);

  @media (max-width: $screen-tablet) {
    width: 22px;
    height: 22px;
  }

  span {
    color: $coen-red;
    text-align: center;
    font-weight: 900;
    font-size: 16pt;
    margin: 0px 12px;

    @media (max-width: $screen-tablet) {
      margin: 0px 8px;
      font-size: 13pt;
    }
  }
}

.btn-rating {
  width: 32px;
  height: 32px;
  //background: url('../../../assets/img/radio-rating.png') -32px 0px no-repeat;
  //background: linear-gradient(transparent, transparent), linear-gradient(transparent, transparent), url('../img/radio-rating-black.svg') 0px 0px no-repeat;
  box-sizing: border-box;
  cursor: pointer;
  overflow: hidden;
  margin: 3px 0 0 0;

  &.active {
    //background: url('../img/radio-rating.png') -2px 0px no-repeat;
    //background: linear-gradient(transparent, transparent), linear-gradient(transparent, transparent), url('../img/radio-rating-white.svg') 0px 0px no-repeat;
  }

  @media (max-width: $screen-phone) {
    width: 24px;
    height: 24px;
    //background: url('../img/radio-rating-s.png') -24px 0px no-repeat;
    //background: linear-gradient(transparent, transparent), linear-gradient(transparent, transparent), url('../img/radio-rating-black.svg') 0px 0px no-repeat;
    margin: 3px 0 0 -5px;

    &.active {
      //background: url('../img/radio-rating-s.png') -1px 0px no-repeat;
      //background: linear-gradient(transparent, transparent), linear-gradient(transparent, transparent), url('../img/radio-rating-white.svg') 0px 0px no-repeat;
    }
  }
}

// icon more bullets
.icon-more-bullets {
  cursor: pointer;
  width: 34px;
  height: 21px;
  //background: $coen-darkgrey url('../img/icon-more-bullets.png') 0px 0px no-repeat;
}

// overview icons
.icon-people {
  cursor: pointer;
  width: 56px;
  height: 34px;
  //background: url('../img/icon-people.png') 0px 0px no-repeat;

  &.right {
    //background: url('../img/icon-people-right.png') 0px 0px no-repeat;
  }
}



