<div class="votes">

    <div ng-switch="$ctrl.score.question.type">

        <!-- statement result -->
        <div ng-switch-when="statement">
            <div class="row">
                <span class="title statement">{{ 'result.all.scores.statement.title' | translate }} {{ $index }}:</span>
                <span class="text">{{ $ctrl.score.question.text }}</span>
            </div>

            <div class="row result">
                <span class="title">{{ 'result.all.scores.statement.agree' | translate }}</span>
                <div class="percentage-container">
                    <div class="percentage" ng-style="{width: $ctrl.score.agreePercentage + '%'}"></div>
                    <span class="percentage-text" ng-style="{'left': $ctrl.score.agreePercentage + '%'}">
                        {{ $ctrl.score.agreeCount }}
                    </span>
                </div>
            </div>

            <div class="row result">
                <span class="title">{{ 'result.all.scores.statement.disagree' | translate }}</span>
                <div class="percentage-container">
                    <div class="percentage" ng-style="{width: $ctrl.score.disagreePercentage + '%'}"></div>
                    <span class="percentage-text" ng-style="{'left': $ctrl.score.disagreePercentage + '%'}">
                        {{ $ctrl.score.disagreeCount }}
                    </span>
                </div>
            </div>
        </div>

        <!-- open question result -->
        <div ng-switch-when="question">
            <div class="row">
                <span class="title statement">{{ 'result.all.scores.question.title' | translate }} {{ $index }}:</span>
                <span class="text">{{ $ctrl.score.question.text }}</span>
            </div>

            <div class="row result">
                <span class="title">{{ 'result.all.scores.question.correct' | translate }}</span>
                <div class="percentage-container">
                    <div class="percentage" ng-style="{width: $ctrl.score.agreePercentage + '%'}"></div>
                    <span class="percentage-text" ng-style="{'left': $ctrl.score.agreePercentage + '%'}">
                        {{ $ctrl.score.agreeCount }}
                    </span>
                </div>
            </div>

            <div class="row result">
                <span class="title">{{ 'result.all.scores.question.incorrect' | translate }}</span>
                <div class="percentage-container">
                    <div class="percentage" ng-style="{width: $ctrl.score.disagreePercentage + '%'}"></div>
                    <span class="percentage-text" ng-style="{'left': $ctrl.score.disagreePercentage + '%'}">
                        {{ $ctrl.score.disagreeCount }}
                    </span>
                </div>
            </div>
        </div>

        <!-- open question result -->
        <div ng-switch-when="open">
            <div class="row">
                <span class="title statement">{{ 'result.all.scores.question.title' | translate }} {{ $index }}:</span>
                <span class="text">{{ $ctrl.score.question.text }}</span>
            </div>

            <div ng-repeat="question in $ctrl.score.questions" class="row result">
                <span class="title open">{{ question.answer }}</span>
            </div>
        </div>

        <!-- multiple result -->
        <div ng-switch-when="multiple">
            <div class="row">
                <span class="title statement">{{ 'result.all.scores.question.title' | translate }} {{ $index }}:</span>
                <span class="text">{{ $ctrl.score.question.text }}</span>
            </div>

            <div ng-repeat="choice in $ctrl.score.question.choices" class="row result">
                <span class="title multiple">{{ choice }}</span>
                <div class="percentage-container multiple">
                    <div class="percentage" ng-style="{width: $ctrl.score.answerObject[$index].answerPercentage + '%'}"></div>
                    <span class="percentage-text" ng-style="{'left': $ctrl.score.answerObject[$index].answerPercentage + '%'}">
                    {{ $ctrl.score.answerObject[$index].answerCount }}
                </span>
                </div>
            </div>
        </div>
    </div>

</div>

